<!-- comforting.njk -->
{% set title = 'Comforting Conversation' %}
{% set id = "comforting" %}

{% extends "layout.njk" %}

{% block content %}
  <!-- Adds the nav macro -->
  {% import 'macros/nav.njk' as nav %}
  {{ nav.build({ icon: 'fas fa-hand-holding-heart', title: title, id: id }) }}

  <!--- Content for this page -->
  <main>
    {% import 'macros/tabs.njk' as tabs %}
    {{ tabs.build({
    tabfile: id,
    tabs: [{
      icon: 'fas fa-star-of-life',
      title: 'Intro'
    }, {
      icon: 'fas fa-question',
      title: 'Questions'
    }, {
      icon: 'fas fa-grin-alt',
      title: 'Great Response'
    }]
  }) }}
  </main>
{% endblock %}
