{% set title = 'Conversation Tools' %}
{% extends "layout.njk" %}

{% block content %}

  <!-- Start your project here-->
  <!-- Adds the nav macro -->
  {% import 'macros/nav.njk' as nav %}
  {{nav.build({ title: title })}}
  <!-- params = { icon: 'fas fa-crown', title: 'Courageous Conversation', id: 'courageous' } -->

  <main class="pt-5 pb-5">

    {% import 'macros/carddeck.njk' as carddeck %}
    <!-- params = [{ imageURL, title, text, buttonText, buttonURL }] -->
    {{carddeck.build([
      {
        imageURL: "./img/normal-to-noble/normal-to-noble-cover.jpg",
        title: "Normal To Noble",
        text: "Breaking the normal cycle to walk the noble path",
        buttonText: "Read more",
        buttonURL: "./normal-to-noble.html"
      }, {
        imageURL: "./img/courageous/courageous-cover.jpg",
        title: "Courageous Conversation",
        text: "Course correct and reconnect quickly in conflict",
        buttonText: "Read more",
        buttonURL: "./courageous.html"
      }
    ])}}
    {{carddeck.build([
      {
        imageURL: "./img/comforting/comforting-cover.jpg",
        title: "Comforting Conversation",
        text: "Move from adversity to joy",
        buttonText: "Read more",
        buttonURL: "./comforting.html"
      }, {
          imageURL: "./img/connecting/connecting-cover.jpg",
          title: "Connecting Conversation",
          text: "Make a lasting and deep soul impression",
          buttonText: "Read more",
          buttonURL: "./connecting.html"
      }
    ])}}
    {{carddeck.build([
      {
        imageURL: "./img/collaborating/collaborating-cover.jpg",
        title: "Collaborating Conversation",
        text: "Making the best decisions in one accord",
        buttonText: "Read more",
        buttonURL: "./collaborating.html"
      }, {
        imageURL: "./img/conciliatory/conciliatory-cover.jpg",
        title: "Conciliatory Conversation",
        text: "How to apologize and bring lasting reconciliation",
        buttonText: "Read more",
        buttonURL: "./conciliatory.html"
      }
    ])}}
    {{carddeck.build([
      {
        imageURL: "./img/prayers/prayers-cover.jpg",
        title: "Inspirational Prayers",
        text: "Prayers to strengthen your identity and your spirit",
        buttonText: "Read more",
        buttonURL: "./prayers.html"
      }, {
        imageURL: "./img/character/character-cover.jpg",
        title: "About Character",
        text: "The 49 character qualities of Christ and our spiritual transformation",
        buttonText: "Read more",
        buttonURL: "./character.html"
      }
    ])}}
  </main>
  <footer class="page-footer font-small fixed-bottom">
    <!-- Footer Elements -->
    <div class="container">
      <!-- Grid row-->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-12 py-1">
          <div class="mb-5 flex-center">
            <!-- Contact Us -->
            <a href="./contact-us.html">
              <i class="fas fa-envelope fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
            </a>
            <!-- Facebook -->
            <a href="https://www.facebook.com/relate2020/">
              <i class="fab fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
            </a>
            <!-- Twitter -->
            <a href="https://twitter.com/relate2020">
              <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x text-black"></i>
            </a>
            <!--Instagram-->
            <a href="https://www.instagram.com/relate2020/">
              <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x text-black"></i>
            </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row-->
    </div>
  </footer>
  <!-- /Start your project here-->
{% endblock %}
