<!-- prayers.njk -->
{% set title = "Prayers" %}
{% set id = "prayers" %}

{% extends "layout.njk" %}

{% block content %}
  <!-- Adds the header partial { include "partials/header.njk" %} -->

  <!-- Adds the nav macro -->
  {% import 'macros/nav.njk' as nav %}
  {{ nav.build({ icon: 'fas fa-pray', title: title, id: id }) }}

  <!--- Content for this page -->
  <main>
    {% import 'macros/tabs.njk' as tabs %}
    {{ tabs.build({
      tabfile: id,
      tabs: [{
        icon: 'fas fa-shield',
        title: 'Armor'
      }, {
        icon: 'fas fa-sword',
        title: 'Creed'
      }, {
        icon: 'fas fa-link',
        title: 'Freedom'
      }, {
        icon: 'fas fa-cross',
        title: 'St Patrick'
      }]
    }) }}
  </main>
{% endblock %}
