{% set title = 'Which Conversation To Use?' %}
{% set id = 'which' %}
{% extends "layout.njk" %}

{% block content %}

  <!-- Start your project here-->
  <!-- Adds the nav macro -->
  {% import 'macros/nav.njk' as nav %}
  {{ nav.build({ title: title, id: id }) }}
  <!-- params = { icon: 'fas fa-crown', title: 'Courageous Conversation', id: 'courageous' } -->

  <main class="mt-4 pt-5 pb-5 px-3">
    {% import 'macros/quiztree.njk' as quiztree %}
    {{ quiztree.build([
      {
        type: 'radio',
        id: 'issue',
        title: 'Is there an issue between the two of you?',
        children: [ 'No issue', 'Yes, there is an issue'],
        show: [['issue', 'check-in-or-decide'], ['issue', 'involved-or-not']],
        check: [['issue-0'], ['issue-1']]
      }, {
        type: 'radio',
        id: 'checkin-or-decide',
        title: 'Are you just checking in or do you need to decide something',
        children: [ 'Just checking in', 'We need to decide something' ],
        show: [['issue', 'check-in-or-decide', 'connecting'], ['issue', 'check-in-or-decide', 'collaborating']],
        check: [['issue-0', 'checkin-or-decide-0'], ['issue-0', 'checkin-or-decide-1']]
      }, {
        type: 'radio',
        id: 'involved-or-not',
        title: 'Are you involved directly in the issue?',
        children: [ 'I am not involved',  'I may be at fault, I\'m not sure', 'I am most likely to blame' ],
        show: [['issue', 'involved-or-not', 'connecting'], ['issue', 'involved-or-not', 'collaborating'], ['issue', 'involved-or-not', 'conciliatory']],
        check: [['issue-1', 'involved-or-not-0'], ['issue-1', 'involved-or-not-1'], ['issue-1', 'involved-or-not-2']]
      }, {
        type: 'static',
        id: 'connecting',
        title: 'You want to use the Connecting Conversation',
        img: 'img/which/connecting.png',
        href: 'connecting.html'
      }, {
        type: 'static',
        id: 'collaborating',
        title: 'You want to use the Collaborating Conversation',
        img: 'img/which/collaborating.png',
        href: 'collaborating.html'
      }, {
        type: 'static',
        id: 'comforting',
        title: 'You want to use the Comforting Conversation',
        img: 'img/which/comforting.png',
        href: 'comforting.html'
      }, {
        type: 'static',
        id: 'courageous',
        title: 'You want to use the Courageous Conversation',
        img: 'img/which/courageous.png',
        href: 'courageous.html'
      }, {
        type: 'static',
        id: 'conciliatory',
        title: 'You want to use the Conciliatory Conversation',
        img: 'img/which/conciliatory.png',
        href: 'conciliatory.html'
      }
    ]) }}
  </main>

  <script type="text/javascript">
    let allSections = [ 'checkin-or-decide', 'involved-or-not', 'connecting', 'collaborating', 'comforting', 'courageous', 'conciliatory' ];
    let allChecks = [ 'issue-0', 'issue-1', 'checkin-or-decide-0', 'checkin-or-decide-1', 'involved-or-not-0', 'involved-or-not-1', 'involved-or-not-2' ];

    function hideSections(sections) {
      console.log('HIDING DOZE SECTIONS');
      for (let i of sections) {
        console.log('HIDING', i, sections[i]);
        $('#' + i).hide();
      }
    }

    function showSections(sections) {
      for (let i of sections) {
        console.log('SHOWING', i, sections[i]);
        $('#' + i).show();
      }
    }

    function checkSections(sections) {
      for (let i of sections) {
        console.log('CHECKING', i, sections[i]);
        $('#' + i).addAttribute('checked');
      }
    }

    function uncheckSections(sections) {
      for (let i of sections) {
        console.log('UNCHECKING', i, sections[i]);
        $('#' + i).addAttribute('checked');
      }
    }

    function showAndCheckSections(hs, cs) {
      hideSections(allSections);
      showSections(hs);
      uncheckSections(allChecks);
      checkSections(cs);
    }

    window.onload = () => hideSections(allSections);

  </script>

  <!-- /Start your project here-->
{% endblock %}
