{% set title = 'Which Conversation To Use?' %}
{% set id = 'which' %}
{% extends "layout.njk" %}

{% block content %}

  <!-- Adds the nav macro -->
  {% import 'macros/nav.njk' as nav %}
  {{ nav.build({ title: title, id: id }) }}
  <!-- params = { icon: 'fas fa-crown', title: 'Courageous Conversation', id: 'courageous' } -->

  <main class="mt-4 pt-5 pb-5 px-3">
    {% import 'macros/quiztree.njk' as quiztree %}
    {{ quiztree.build('WhichQuiz', [
      {
        type: 'radio',
        id: 'issue',
        title: 'Is there an issue between the two of you?',
        children: [ 'No issue', 'Yes, there is an issue'],
        show: ['#checkin-or-decide', '#involved-or-not'],
        check: ['#issue-0', '#issue-1']
      }, {
        type: 'radio',
        id: 'checkin-or-decide',
        title: 'Are you just checking in or do you need to decide something',
        children: [ 'Just checking in', 'We need to decide something' ],
        show: ['#checkin-or-decide, #connecting', '#checkin-or-decide, #collaborating'],
        check: ['#issue-0, #checkin-or-decide-0', '#issue-0, #checkin-or-decide-1']
      }, {
        type: 'radio',
        id: 'involved-or-not',
        title: 'Are you involved directly in the issue?',
        children: [ 'I am not involved',  'I may be at fault, I\'m not sure', 'I am most likely to blame' ],
        show: ['#involved-or-not, #comforting', '#involved-or-not, #courageous', '#involved-or-not, #conciliatory'],
        check: ['#issue-1, #involved-or-not-0', '#issue-1, #involved-or-not-1', '#issue-1, #involved-or-not-2']
      }, {
        type: 'static',
        id: 'connecting',
        style: 'btn-dark-green',
        title: 'You want to use the following conversation:',
        icon: 'fas fa-crown',
        label: 'Connecting',
        href: 'connecting.html'
      }, {
        type: 'static',
        id: 'collaborating',
        style: 'btn-deep-purple',
        title: 'You want to use the following conversation:',
        icon: 'fas fa-users',
        label: 'Collaborating',
        href: 'collaborating.html'
      }, {
        type: 'static',
        id: 'comforting',
        style: 'btn-info',
        title: 'You want to use the following conversation:',
        icon: 'fas fa-hand-holding-heart',
        label: 'Comforting',
        href: 'comforting.html'
      }, {
        type: 'static',
        id: 'courageous',
        style: 'btn-danger',
        title: 'You want to use the following conversation:',
        icon: 'fas fa-crown',
        label: 'Courageous',
        href: 'courageous.html'
      }, {
        type: 'static',
        id: 'conciliatory',
        style: 'btn-indigo',
        title: 'You want to use the following conversation:',
        icon: 'fas fa-dove',
        label: 'Conciliatory',
        href: 'conciliatory.html'
      }
    ]) }}
  </main>
{% endblock %}
