<ul>
  <li>
    <a href="./CharacterDefinitions.html#humility">Humility</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#joyfulness">Joyfulness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#justice">Justice</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#creativity">Creativity</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#sincerity">Sincerity</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#reverenace">Reverence</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#deference">Deference</a>
  </li>
</ul>
