<ul>
  <li>
    <a href="./character.html?tab=character-panel-2&name=love">Love</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=self-control">Self-control</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=faith">Faith</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=decisiveness">Decisiveness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=alertness">Alertness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=virtue">Virtue</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=loyalty">Loyalty</a>
  </li>
</ul>
