<ul>
  <li>
    <a href="./CharacterDefinitions.html#forgiveness">Forgiveness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#determination">Determination</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#availability">Availability</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#gentleness">Gentleness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#resourcefulness">Resourcefulness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#tolerance">Tolerance</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#endurance">Endurance</a>
  </li>
</ul>
