<h4>Operational Definitions of 49 Character Qualities</h4>
<div class="row">
  <div class="col">
    <h5>
      <a name="alertness">Alertness vs. Unawareness</a>
    </h5>
    <p>Being aware of that which is taking place around me so I can have the right response to it.
      <a href="https://www.biblegateway.com/passage/?search=Mark+14%3A39&version=NLT">Mark 14:39</a>
    </p>
    <h5>
      <a name="initiative">Initiative vs. Unresponsiveness</a>
    </h5>
    <p>Recognizing and doing what needs to be done before I am asked to do it.
      <a href="https://www.biblegateway.com/passage/?search=Romans+12%3A21&version=NLT">Romans 12:21</a>
    </p>
    <h5>
      <a name="attentiveness">Attentiveness vs. Unconcern</a>
    </h5>
    <p>Showing the worth of a person by giving undivided attention to his words and emotions.
      <a href="https://www.biblegateway.com/passage/?search=Hebrews+2%3A1&version=NLT">Hebrews 2:1</a>
    </p>
    <h5>
      <a name="joyfulness">Joyfulness vs. Self-pity</a>
    </h5>
    <p>The spontaneous enthusiasm of my spirit when my soul is in fellowship with the Lord.
      <a href="https://www.biblegateway.com/passage/?search=Psalm+16%3A11&version=NLT">Psalm 16:11</a>
    </p>
    <h5>
      <a name="availability">Availability vs. Self-centeredness</a>
    </h5>
    <p>Making my own schedule and priorities secondary to the wishes of those I am serving.
      <a href="https://www.biblegateway.com/passage/?search=Phillippians+2%3A20-21&version=NLT">Phillippians 2:20-21</a>
    </p>
    <h5>
      <a name="justice">Justice vs. Fairness</a>
    </h5>
    <p>Carrying out wise judgments based on the laws and character of God.
      <a href="https://www.biblegateway.com/passage/?search=Micah+6%3A8&version=NLT">Micah 6:8</a>
    </p>
    <h5>
      <a name="boldness">Boldness vs. Fearfulness</a>
    </h5>
    <p>Confidence that what I have to say or do is true and right and just in the sight of God.
      <a href="https://www.biblegateway.com/passage/?search=Acts+4%3A29&version=NLT">Acts 4:29</a>
    </p>
    <h5>
      <a name="love">Love vs. Selfishness</a>
    </h5>
    <p>Giving to others’ basic needs without having gain as my motive personal reward.
      <a href="https://www.biblegateway.com/passage/?search=I Corinthians+13%3A3&version=NLT">I Corinthians 13:3</a>
    </p>
    <h5>
      <a name="cautiousness">Cautiousness vs. Rashness</a>
    </h5>
    <p>Knowing how important right timing is in accomplishing right actions.
      <a href="https://www.biblegateway.com/passage/?search=Proverbs+19%3A2&version=NLT">Proverbs 19:2</a>
    </p>
    <h5>
      <a name="loyalty">Loyalty vs. Unfaithfulness</a>
    </h5>
    <p>Using difficult times to demonstrate my commitment to God and to those whom He has called me to serve.
      <a href="https://www.biblegateway.com/passage/?search=John+15%3A13&version=NLT">John 15:13</a>
    </p>
    <h5>
      <a name="compassion">Compassion vs. Indifference</a>
    </h5>
    <p>Investing whatever is necessary to heal the hurts of others.
      <a href="https://www.biblegateway.com/passage/?search=I John+3%3A17&version=NLT">I John 3:17</a>
    </p>
    <h5>
      <a name="meekness">Meekness vs. Anger</a>
    </h5>
    <p>Yielding my personal rights and expectations to God.
      <a href="https://www.biblegateway.com/passage/?search=Psalm+62%3A5&version=NLT">Psalm 62:5</a>
    </p>
    <h5>
      <a name="contentment">Contentment vs. Covetousness</a>
    </h5>
    <p>Realizing that God has provided everything I need for my present happiness.
      <a href="https://www.biblegateway.com/passage/?search=I Timothy+6%3A8&version=NLT">I Timothy 6:8</a>
    </p>
    <h5>
      <a name="obedience">Obedience vs. Willfulness</a>
    </h5>
    <p>Freedom to be creative under the protection of divinely appointed authority.
      <a href="https://www.biblegateway.com/passage/?search=II Corinthians+10%3A5&version=NLT">II Corinthians 10:5</a>
    </p>
    <h5>
      <a name="creativity">Creativity vs. Underachievement</a>
    </h5>
    <p>Approaching a need, a task, an idea from a new perspective.
      <a href="https://www.biblegateway.com/passage/?search=Romans+12%3A2&version=NLT">Romans 12:2</a>
    </p>
    <h5>
      <a name="orderliness">Orderliness vs. Disorganization</a>
    </h5>
    <p>Preparing myself and my surroundings so I will achieve the greatest. efficiency
      <a href="https://www.biblegateway.com/passage/?search=I Corinthians+14%3A40&version=NLT">I Corinthians 14:40</a>
    </p>
    <h5>
      <a name="decisiveness">Decisiveness vs. Double-mindedness</a>
    </h5>
    <p>The ability to finalize difficult decisions based on the will and ways of God.
      <a href="https://www.biblegateway.com/passage/?search=James+1%3A5&version=NLT">James 1:5</a>
    </p>
    <h5>
      <a name="patience">Patience vs. Restlessness</a>
    </h5>
    <p>Accepting a difficult situation from God without giving Him a deadline to remove it.
      <a href="https://www.biblegateway.com/passage/?search=Romans+5%3A3-4&version=NLT">Romans 5:3-4</a>
    </p>
    <h5>
      <a name="deference">Deference vs. Rudeness</a>
    </h5>
    <p>Limiting my freedom in order not offend the tastes of those whom God has called me to serve.
      <a href="https://www.biblegateway.com/passage/?search=Romans+14%3A21&version=NLT">Romans 14:21</a>
    </p>
    <h5>
      <a name="persuasiveness">Persuasiveness vs. Contentiousness</a>
    </h5>
    <p>Guiding vital truths around another’s mental roadblocks.
      <a href="https://www.biblegateway.com/passage/?search= II Timothy+2%3A24&version=NLT">
        II Timothy 2:24</a>
    </p>
    <h5>
      <a name="dependability">Dependability vs. Inconsistency</a>
    </h5>
    <p>Fulfilling what I consented to do even if it means unexpected sacrifice.
      <a href="https://www.biblegateway.com/passage/?search=Psalm+15%3A1-4&version=NLT">Psalm 15:1-4</a>
    </p>
    <h5>
      <a name="punctuality">Punctuality vs. Tardiness</a>
    </h5>
    <p>Showing high esteem for other people and their time.
      <a href="https://www.biblegateway.com/passage/?search=Ecclesiastes+3%3A1&version=NLT">Ecclesiastes 3:1</a>
    </p>
    <h5>
      <a name="determination">Determination vs. Faintheartedness</a>
    </h5>
    <p>Purposing to accomplish God’s goals in God’s time regardless of the opposition.
      <a href="https://www.biblegateway.com/passage/?search=II Timothy+4%3A7-8&version=NLT">II Timothy 4:7-8</a>
    </p>
    <h5>
      <a name="resourcefulness">Resourcefulness vs.Wastefulness</a>
    </h5>
    <p>Wise use of that which others would normally overlook or discard.
      <a href="https://www.biblegateway.com/passage/?search=Luke+16%3A10&version=NLT">Luke 16:10</a>
    </p>
    <h5>
      <a name="diligence">Diligence vs. Slothfulness</a>
    </h5>
    <p>Visualizing each task as a special assignment from the Lord and using all my energies to accomplish it.
      <a href="https://www.biblegateway.com/passage/?search=Colossians+3%3A23-24&version=NLT">Colossians 3:23-24</a>
    </p>
  </div>
  <div class="col">
    <h5>
      <a name="responsibility">Responsibility vs. Unreliability</a>
    </h5>
    <p>Knowing and doing what both God and others are expecting from me.
      <a href="https://www.biblegateway.com/passage/?search=Romans+14%3A12&version=NLT">Romans 14:12</a>
    </p>
    <h5>
      <a name="discernment">Discernment vs. Judgment</a>
    </h5>
    <p>The God-given ability to understand why things happen.
      <a href="https://www.biblegateway.com/passage/?search=I Samuel+16%3A7&version=NLT">I Samuel 16:7</a>
    </p>
    <h5>
      <a name="reverence">Reverence vs. Disrespect</a>
    </h5>
    <p>Awareness of how God is working through the people and events in my life to produce the character of Christ in me.
      <a href="https://www.biblegateway.com/passage/?search=Proverbs+23%3A17-18&version=NLT">Proverbs 23:17-18</a>
    </p>
    <h5>
      <a name="discretion">Discretion vs. Simplemindedness</a>
    </h5>
    <p>The ability to avoid words, actions, and attitudes which could result in undesirable consequences.
      <a href="https://www.biblegateway.com/passage/?search=Proverbs+22%3A3&version=NLT">Proverbs 22:3</a>
    </p>
    <h5>
      <a name="security">Security vs. Anxiety</a>
    </h5>
    <p>Structuring my life around that which is eternal and cannot be destroyed or taken away.
      <a href="https://www.biblegateway.com/passage/?search=John+6%3A27&version=NLT">John 6:27</a>
    </p>
    <h5>
      <a name="endurance">Endurance vs. Giving up</a>
    </h5>
    <p>The inward strength to withstand stress to accomplish God’s best.
      <a href="https://www.biblegateway.com/passage/?search=Galatians+6%3A9&version=NLT">Galatians 6:9</a>
    </p>
    <h5>
      <a name="self-control">Self-Control vs. Self-indulgence</a>
    </h5>
    <p>Instant obedience to the initial promptings of God’s Spirit.
      <a href="https://www.biblegateway.com/passage/?search=Galatians+5%3A24-25&version=NLT">Galatians 5:24-25</a>
    </p>
    <h5>
      <a name="enthusiasm">Enthusiasm vs. Apathy</a>
    </h5>
    <p>Expressing with my soul the joy of my spirit.
      <a href="https://www.biblegateway.com/passage/?search=I Thessalonians+5%3A16-19&version=NLT">I Thessalonians 5:16-19</a>
    </p>
    <h5>
      <a name="sensitivity">Sensitivity vs. Callousness</a>
    </h5>
    <p>Exercising my senses so I can perceive the true spirit and emotions of those around me.
      <a href="https://www.biblegateway.com/passage/?search=Romans+12%3A15&version=NLT">Romans 12:15</a>
    </p>
    <h5>
      <a name="faith">Faith vs. Presumption</a>
    </h5>
    <p>Visualizing what God intends to do in a given situation and acting in harmony with it.
      <a href="https://www.biblegateway.com/passage/?search=Hebrews+11%3A1&version=NLT">Hebrews 11:1</a>
    </p>
    <h5>
      <a name="sincerity">Sincerity vs. Hypocrisy</a>
    </h5>
    <p>Eagerness to do what is right with transparent motives.
      <a href="https://www.biblegateway.com/passage/?search=I Peter+1%3A22&version=NLT">I Peter 1:22</a>
    </p>
    <h5>
      <a name="flexibility">Flexibility vs. Resistance</a>
    </h5>
    <p>Not setting my affections on ideas or plans which could be changed by God or others.
      <a href="https://www.biblegateway.com/passage/?search=Colossians+3%3A2&version=NLT">Colossians 3:2</a>
    </p>
    <h5>
      <a name="thoroughness">Thoroughness vs. Incompleteness</a>
    </h5>
    <p>Knowing what factors will diminish the effectiveness of my work or words if neglected.
      <a href="https://www.biblegateway.com/passage/?search=Proverbs+18%3A15&version=NLT">Proverbs 18:15</a>
    </p>
    <h5>
      <a name="forgiveness">Forgiveness vs. Rejection</a>
    </h5>
    <p>Clearing the record of those who have wronged me and allowing God to love them through me.
      <a href="https://www.biblegateway.com/passage/?search=Ephesians+4%3A32&version=NLT">Ephesians 4:32</a>
    </p>
    <h5>
      <a name="thriftiness">Thriftiness vs. Extravagance</a>
    </h5>
    <p>Not letting myself or others spend that which is not necessary.
      <a href="https://www.biblegateway.com/passage/?search=Luke+16%3A11&version=NLT">Luke 16:11</a>
    </p>
    <h5>
      <a name="generosity">Generosity vs. Stinginess</a>
    </h5>
    <p>Realizing that all I have belongs to God and using it for His purposes.
      <a href="https://www.biblegateway.com/passage/?search=II Corinthians+9%3A6&version=NLT">II Corinthians 9:6</a>
    </p>
    <h5>
      <a name="tolerance">Tolerance vs. Prejudice</a>
    </h5>
    <p>Acceptance of others as unique expressions of specific character qualities in varying degrees of maturity.
      <a href="https://www.biblegateway.com/passage/?search=Philippians+2%3A2&version=NLT">Philippians 2:2</a>
    </p>
    <h5>
      <a name="gentleness">Gentleness vs. Harshness</a>
    </h5>
    <p>Showing personal care and concern in meeting the need of others.
      <a href="https://www.biblegateway.com/passage/?search=I Thessalonians+2%3A7-9&version=NLT">I Thessalonians 2:7-9</a>
    </p>
    <h5>
      <a name="truthfulness">Truthfulness vs. Deception</a>
    </h5>
    <p>Earning future trust by accurately reporting past facts.
      <a href="https://www.biblegateway.com/passage/?search=Ephesians+4%3A25&version=NLT">Ephesians 4:25</a>
    </p>
    <h5>
      <a name="gratefulness">Gratefulness vs. Unthankfulness</a>
    </h5>
    <p>Making known to God and others in what ways they have benefited my life.
      <a href="https://www.biblegateway.com/passage/?search=I Corinthians+4%3A7&version=NLT">I Corinthians 4:7</a>
    </p>
    <h5>
      <a name="virtue">Virtue vs. Impurity</a>
    </h5>
    <p>The moral excellence and purity of spirit that radiate from my life as I obey God’s Word.
      <a href="https://www.biblegateway.com/passage/?search=II Peter+1%3A3&version=NLT">II Peter 1:3</a>
    </p>
    <h5>
      <a name="hospitality">Hospitality vs. Loneliness</a>
    </h5>
    <p>Cheerfully sharing food, shelter, and spiritual refreshment with those whom God brings into my life.
      <a href="https://www.biblegateway.com/passage/?search=Hebrews+13%3A2&version=NLT">Hebrews 13:2</a>
    </p>
    <h5>
      <a name="wisdom">Wisdom vs. Natural Inclinations</a>
    </h5>
    <p>Seeing and responding to life’s situations from God’s frame of reference.
      <a href="https://www.biblegateway.com/passage/?search=Proverbs+9%3A10&version=NLT">Proverbs 9:10</a>
    </p>
    <h5>
      <a name="humility">Humility vs. Pride</a>
    </h5>
    <p>Recognizing that it is actually God and others who are responsible for the achievements in my life.
      <a href="https://www.biblegateway.com/passage/?search=James+4%3A6&version=NLT">James 4:6</a>
    </p>
  </div>
</div>
