<ul>
  <li>
    <a href="./character.html?tab=character-panel-2&name=forgiveness">Forgiveness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=determination">Determination</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=availability">Availability</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=gentleness">Gentleness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=resourcefulness">Resourcefulness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=tolerance">Tolerance</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=endurance">Endurance</a>
  </li>
</ul>
