<ul>
  <li>
    <a href="./character.html?tab=character-panel-2&name=diligence">Diligence</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=sensitivity">Sensitivity</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=flexibility">Flexibility</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=cautiousness">Cautiousness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=dependability">Dependability</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=compassion">Compassion</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=discretion">Discretion</a>
  </li>
</ul>
