<ul>
  <li>
    <a href="./character.html?tab=character-panel-2&name=generosity">Generosity</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=thriftiness">Thriftiness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=initiative">Initiative</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=contentment">Contentment</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=patience">Patience</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=hospitality">Hospitality</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=gratefulness">Gratefulness</a>
  </li>
</ul>
