<ul>
  <li>
    <a href="./character.html?tab=character-panel-2&name=humility">Humility</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=joyfulness">Joyfulness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=justice">Justice</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=creativity">Creativity</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=sincerity">Sincerity</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=reverence">Reverence</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=deference">Deference</a>
  </li>
</ul>
