<ul>
  <li>
    <a href="./CharacterDefinitions.html#diligence">Diligence</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#sensitivity">Sensitivity</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#flexibility">Flexibility</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#cautiousness">Cautiousness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#dependability">Dependability</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#compassion">Compassion</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#discretion">Discretion</a>
  </li>
</ul>
