<ul>
  <li>
    <a href="./CharacterDefinitions.html#love">Love</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#self-control">Self-control</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#faith">Faith</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#decisiveness">Decisiveness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#alertness">Alertness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#virtue">Virtue</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#loyalty">Loyalty</a>
  </li>
</ul>
