<ul>
  <li>
    <a href="./character.html?tab=character-panel-2&name=boldness">Boldness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=meekness">Meekness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=wisdom">Wisdom</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=obedience">Obedience</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=persuasiveness">Persuasiveness</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=endurance">Endurance</a>
  </li>
  <li>
    <a href="./character.html?tab=character-panel-2&name=orderliness">Orderliness</a>
  </li>
</ul>
