<ul>
  <li>
    <a href="./CharacterDefinitions.html#generosity">Generosity</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#thriftiness">Thriftiness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#initiative">Initiative</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#contentment">Contentment</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#patience">Patience</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#hospitality">Hospitality</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#gratefulness">Gratefulness</a>
  </li>
</ul>
