<ul>
  <li>
    <a href="./CharacterDefinitions.html#boldness">Boldness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#meekness">Meekness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#wisdom">Wisdom</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#obedience">Obedience</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#persuasiveness">Persuasiveness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#endurance">Endurance</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#orderliness">Orderliness</a>
  </li>
</ul>
