<ul>
  <li>
    <a href="./CharacterDefinitions.html#security">Security</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#truthfulness">Truthfulness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#discernment">Discernment</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#attentiveness">Attentiveness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#responsibility">Responsibility</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#thoroughness">Thoroughness</a>
  </li>
  <li>
    <a href="./CharacterDefinitions.html#enthusiasm">Enthusiasm</a>
  </li>
</ul>
