<p>This is
  <em>doing the right thing in the right way with the right stuff with the right timing and with the right motives and rewards.</em>
</p>
<ul>
  <li>What will be the rewards of doing God's will in His way, in His timing?</li>
  <li>What will be the natural consequences of neglecting God's will or if failure occurs?</li>
  <li>How will we handle failure?</li>
</ul>
