<p>This is
  <em>doing the right thing.</em>
  You need to ensure that your plan is in line with God's will and the "latter end". This means to see your plan and its results from God's perspective.
  <a href="https://www.biblegateway.com/passage/?search=Deuteronomy+32%3A29&version=NLT">Deuteronomy 32:29</a>
  <a href="https://www.biblegateway.com/passage/?search=Proverbs+19%3A20&version=NLT">Proverbs 19:20</a>
</p>
<ul>
  <li>What do you believe God' desired results are?</li>
  <li>What are your desired results?</li>
  <li>As a person, partner, parent, provider, and proclaimer?</li>
  <li>What does the preferable future look like?</li>
  <li>What does success look like?
    <a href="https://www.biblegateway.com/passage/?search=Deuteronomy%2028&version=NLT">Deuteronomy 28</a>
  </li>
  <li>What does failure look like?
    <a href="https://www.biblegateway.com/passage/?search=Deuteronomy%2027&version=NLT">Deuteronomy 27</a>
  </li>
</ul>
