<p>This is
  <em>doing the right thing in the right way.</em>
  This explains the what and the how of the decision making process. You will need to think about the Commands of Christ, the Character of Christ, the driving forces, and discern your level of willingness.
</p>
<h5>The Commands of Christ</h5>
<p>What commands apply in this situation?</p>
<h5>The Character of Christ</h5>
<p>What character qualities will be essential for evaluating the situation, generating alternatives, choosing a solution, and implementing it?
</p>
<h5>Driving Forces</h5>
<p>Think about the driving forces (causing you to need to make this decision or will help you to effect the solution) and the restraining forces (obstacles or attitudes that will impede you). This is also called a
  <a href="http://en.wikipedia.org/wiki/Force_field_analysis">Forcefield Analysis</a>.
</p>
<ul>
  <li>Are you operating out of pride?</li>
  <li>Are there wounds (trauma A or B) that are influencing the situation?</li>
  <li>What belief system are you operating under? If it is lies, "either or" vs "win win", you need to check your core beliefs about the problem.</li>
  <li>Are you operating out of sin, either willful or foolish?</li>
  <li>Are there bio-chemical forces at play? Are you overtired, hungry, other?</li>
</ul>
<h5>Discern Your Level of Willingness</h5>
<table>
  <tbody>
    <tr>
      <th>Attributes</th>
      <th>Level</th>
    </tr>
    <tr>
      <td>
        <strong>Awareness</strong>
        of the need for change</td>
      <td>Truth and reproof</td>
    </tr>
    <tr>
      <td>
        <strong>Desire</strong>
        to support and participate in change</td>
      <td>Willingness</td>
    </tr>
    <tr>
      <td>
        <strong>Knowledge</strong>
        of how to change</td>
      <td>Steps of Correction
      </td>
    </tr>
    <tr>
      <td>
        <strong>Ability</strong>
        to implement change</td>
      <td>God's power and obedience</td>
    </tr>
    <tr>
      <td>
        <strong>Reinforcement</strong>
        to sustain change</td>
      <td>Training in righteousness</td>
    </tr>
  </tbody>
</table>
