<p>This is
  <em>doing the right thing in the right way with the right stuff with the right timing.</em>
</p>
<ul>
  <li>Who will do what by when?</li>
  <li>How will we measure progress?</li>
  <li>How often will we check progress?</li>
</ul>
