<!-- collaborating-intro.njk -->
<div class="content">
  <h4>Why Have A Collaborating Conversation</h4>
  <p>God's Word says that there is a safety available in a multitude of counselors in
    <a href="https://www.biblegateway.com/passage/?search=Proverbs+15%3A22&version=NLT">Proverbs 15:22</a>
    and
    <a href="https://www.biblegateway.com/passage/?search=Proverbs+24%3A6&version=NLT">Proverbs 24:6</a>
    and that two are better than one: they have a good reward for their labor, pick each other up when they fall, and protect each other.
    <a href="https://www.biblegateway.com/passage/?search=Ecclesiastes+4%3A9-12&version=NLT">Ecclesiastes 4:9-12</a>
  </p>
  <img class="w-100" title="Decide how you are going to decide" alt="Counsel Choice Consensus Command" src="img/collaborating/Collaborating.png">
  <h4>When To Have A Collaborating Conversation</h4>
  <p>Have a collaborating conversation when decisions need to be made and you are looking for God's best.</p>
  <h4>How To Have A Collaborating Conversation</h4>
  <p>Look for both sides of truth. Don't get stuck in a either/or mentality but learn how to collaborate and come into a both/and paradigm. Avoid all extremes
    <a href="https://www.biblegateway.com/passage/?search=Ecclesiastes+7%3A18&version=NLT">Ecclesiastes 7:18</a>
    and recognize that true wisdom has two sides.
    <a href="https://www.biblegateway.com/passage/?search=Job+Job%3A6&version=NLT">Job 11:6</a>
  </p>
  <p>The first thing you need to do is to decide how you are going to decide and then you need to develop a noble plan.
  </p>
  <h5>Decide How You Are Going To Decide</h3>
  <p>First decide which of the four Biblical decision models you will use: command, counsel, choice, consensus</p>
  <p>
    <b>Command:</b>
    You alone will determine the criteria for evaluating alternatives and select the solution or direction. You are simply informing your spouse that this is happening and that you will let her know when the decision is made. This model may require you
    to sell the decision in order to gain a sufficient level of commitment.</p>
  <p>
    <b>Counsel:</b>
    You will invite your spouse and potentially others in to provide you advice but you will select the final solution or direction yourself. This model provides a higher level of commitment because your spouse has had input into the decision.
  </p>
  <p>
    <b>Choice:</b>
    You have accounted for various solutions, all of which are acceptable to you (or at least the pros and cons are well understood), and want your spouse to help you make a choice between them.
  </p>
  <p>
    <b>Consensus:</b>
    You are inviting your spouse into the discussion as an equal. The key to this model is that you must build a common view around the decision and you are willing to keep your influence equal to that of others providing input. This model has the
    highest level of commitment but may require you to compromise on certain factors that you consider important.
  </p>
  <p>
    You will need to take into consideration the circumstances and the amount of cooperation and commitment you will need from other people to decide how you are going to decide.
  </p>
</div>
