<img src="./img/comforting/abba.png" class="w-100 mb-3">
<p>
	Means &ldquo;Daddy, Father&rdquo; – Abba is the most intimate form of God&rsquo;s name, showing
  us His character as our loving daddy. He is the One who can be fully trusted,
  the One we can lean on, the One who cares about all that concerns us. Just as
  a godly father&rsquo;s presence in our daily lives is one of protection, security,
  and unconditional love, the constant presence of our heavenly Father is what
  gives us the strength and covering we need for this life&rsquo;s journey. This is
  one of my favorite names of God because in it He conveys His heart for each of
  us, as His children. He gives us the privilege of being called his own sons
  and daughters. He provides the way for us to call out to Him and the
  assurance, beyond a doubt, that He hears and will answer. In our most
  difficult to painful times in life, we can crawl up into the lap of our
  heavenly Father, and know that He is for us, and His arms will hold us secure.
</p>
<h5>References</h5>
<p><i>And because we are his children, God has sent the Spirit of his Son
  into our hearts, prompting us to call out, &ldquo;Abba, Father.&rdquo;</i>
  <a href="https://www.biblegateway.com/passage/?search=Galatians+4%3a6&version=nlt">Galatians 4:6</a>
</p>
