<p>
  David would pour out his heart unto the Lord, by expressing the facts as he saw them, by letting God know the questions that were going through his mind and the answers he was telling himself.
  <a href="https://www.biblegateway.com/passage/?search=Psalm+42%3A4&version=NLT">Psalms 42:4</a>
</p>
<p>
  He would express his feelings until he knew the Lord had considered his troubles and knew his soul in adversity
  <a href="https://www.biblegateway.com/passage/?search=Psalm+31%3A7-8&version=NLT">Psalm 31:7-8</a>
  <a href="https://www.biblegateway.com/passage/?search=Psalm+62%3A8&version=NLT">Psalm 62:8</a>
  and when he would finish he would say, "Why art thou cast down, O my soul? Hope thou in God, for I shall yet praise him!
  <a href="https://www.biblegateway.com/passage/?search=Psalms+42%3A5&version=NLT">Psalms 42:5</a>
</p>
<p>
  Perfect love will cast out fear and when fear is cast out the need for control will subside. Fear is often based on false evidence that appears real. Our natural inclinations when we experience fear is to either fight, take ﬂight or freeze.
  <a href="https://www.biblegateway.com/passage/?search=Proverbs+14%3A12&version=NLT">Proverbs 14:12</a>
</p>
<p>
  When we are acting out of fear we are accessing the small rear part of our brain designed for quick survival thinking and when we are being relational we are accessing the large frontal lobes where our relational circuits are found.</p>
<p>Science has recently discovered what God has been prescribing all along, in order to switch from the survival mode functions of the middle of the brain to the relational mode of the frontal lobes you need to start with a process called deliberate
  appreciation.
</p>
