<p>Discover the question that is causing the mind to search for answers. Often times Satan will use a question in order to capture our thoughts. Satan used this scheme when he asked Eve a question while in the Garden of Eden. He took her thoughts
  captive with a question.
  <a href="https://www.biblegateway.com/passage/?search=Genesis+3%3A1&version=NLT">Genesis 3:1
  </a>
</p>
<p>
  Men can often be
  <b>deceived</b>
  with false information but women are often
  <b>beguiled</b>
  when they are given just a few facts and left to fill in the rest with a story of their own imagination.
</p>
<p>
  You can ask, "What happened?" and "What are you telling yourself?" if they can't detect the question they are asking themselves.
</p>
