<img src="./img/comforting/yahweh.png" class="w-100 mb-3">
<p>
  Derived from the Hebrew word for &ldquo;I AM,&rdquo; it is the proper name
  of the divine person, coming from the verb which means to &ldquo;exist,&rdquo; &ldquo;be.&rdquo; When
  God told Moses to go to Pharaoh and to lead the Israelites out of Egypt, Moses
  was scared. He needed reassurance, he needed to know God was bigger than this
  problem, that He would carry them through, that even if people wouldn&rsquo;t listen
  to him, they would listen to the One who sent him. Because His name carried
  that much awe and honor. God&rsquo;s name, Yahweh, is one of authority. It is one
  that holds great power, and says to all who hear, &ldquo;I AM the One, true God,
  follow me.&rdquo; God is still the &ldquo;Great I AM,&rdquo; for He never changes. We can trust
  His loving leadership in our lives, just as Moses did. He calls us for his
  specific purposes, reminding us that He knows our way and He has a plan.
</p>
<h5>References</h5>
<p><i>But Moses protested, &ldquo;If I go to the people of Israel and tell them,
  &lsquo;The God of your ancestors has sent me to you,&rsquo; they will ask me, &lsquo;What is his
  name?&rsquo; Then what should I tell them?&rdquo;
  God replied to Moses, &ldquo;I am who I am. Say this to the people of Israel: I am
  has sent me to you.&rdquo;</i>
  <a href="https://www.biblegateway.com/passage/?search=Exodus+3%3a13-14&version=nlt">Exodus 3:13-14</a>
</p>
