<p>
  Deliberate appreciation is when we offer a sacriﬁce of thanksgiving.
  <a href="https://www.biblegateway.com/passage/?search=psalms+50%3a14-15&version=nlt">Psalms 50:14-15</a>
</p>
<p>
  There is a progression by which we come into God's presence and into His throne of grace. We come boldly because of the blood of Jesus that has made us holy and blameless.
  <a href="https://www.biblegateway.com/passage/?search=hebrews+4%3a16&version=nlt">Hebrews 4:16</a>
</p>
<p>
  And yet we follow the protocol of heaven. We ﬁrst enter into God's gates with thanksgiving (see Psalm 100).
</p>
