<img src="./img/comforting/el-shaddai.png" class="w-100 mb-3">
<p>
  He is all-powerful, He is the Mighty One, He is the 9-1-1 to run to. And we
  can find refuge and rest in His shadow. This is comforting in a world where we
  face many battles day by day. Sometimes it&rsquo;s hard to know who we can trust, we
  may feel unsafe or uncertain in circumstances surrounding us. We want to know
  that our loved ones are protected and covered in His care, especially when
  they&rsquo;re away from us. This verse and God&rsquo;s reminder that He is the Almighty
  gives us the security and assurance that nothing else around us can offer. He
  is the God who sees all, knows all, and has the power to go before us, walk
  with us daily, and cover us from behind. Dwelling in God&rsquo;s presence gives us
  shelter and rest.
</p>
<h5>References</h5>
<p>
  <i>TThose who live in the shelter of the Most High will find rest in the shadow of the Almighty.
  </i>
  <a href="https://www.biblegateway.com/passage/?search=Psalm+91%3a1&version=nlt">Psalm 91:1</a>
</p>
