<p>Do not be overcome by evil but overcome evil with good.
  <a href="https://www.biblegateway.com/passage/?search=romans+12%3a21&version=nlt">Romans 12:21</a>
</p>
<p>Do not repay evil for evil but repay evil with blessing so that you may receive a blessing yourself.
  <a href="https://www.biblegateway.com/passage/?search=peter+3%3a9&version=nlt">1 Peter 3:9</a>
</p>
</p>For advanced comforting training, encourage yourself in the Lord by learning to calm your own soul.
<a href="https://www.biblegateway.com/passage/?search=psalms+131%3a2&version=nlt">Psalms 131:2</a>
</p>
