<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <img src="img/comforting/great.png" alt="GREAT" class="col-sm-4 float-right px-0 pl-md-2 pb-2">
      <h4 class="comforting-text">The GREAT Response</h4>
      <p>
        The following process prescribed by God and often demonstrated throughout scripture, especially by David in the Psalms, will help us move from a distressed mindset into a calm relational mindset. We will have been transformed by the renewing of our
        mind.
        <a href="https://www.biblegateway.com/passage/?search=romans+12%3a1-2&version=nlt">Romans 12:1-2</a>
      </p>
    </div>
    <div class="col-md-12">
      <!-- params = { cards: 'comforting-great', titles: [ '1. What can you be grateful for', ...] } -->
      {% import 'macros/accordian.njk' as accordian %}
      {{ accordian.build({
        cards: 'comforting-great',
        titles: [
          '1. What could we be <b>grateful</b> to God for in the midst of this situation?',
          '2. What name of the Lord that we can <b>rejoice</b> in?',
          '3. What scripture promises can we <b>engraft</b> and hold on to at this time?',
          '4. What should we cry out to God and <b>ask</b> Him for in this situation?',
          '5. How can we <b>triumph</b> over evil with good?'
        ]
      }) }}
    </div>
  </div>
</div>
