<img src="./img/comforting/elohim.png" class="w-100 mb-3">
<p>
  God&rsquo;s incredible power and might. He is the One and only God. He is Supreme,
  the true God in a world that promotes many false gods and religions. He is the
  one on whom we can fully rely, He is Sovereign, He is the one we can completely
  trust. He is the Mighty One over all of nature, this world, and the heavens above,
  our creative God who has worked wonders by His hands. God reminds that He is Elohim
  every single day. His amazing power is at work in every sunrise, every sunset,
  in the way He holds the stars in the sky and carries His people through difficult
  times. You can be assured, you are held by an Almighty God, you never have to
  fear, God&rsquo;s hands are strong and secure.
</p>
<h5>References</h5>
<p><i>In the beginning God created the heavens and the earth.</i>
  <a href="https://www.biblegateway.com/passage/?search=Genesis+1%3a1&version=nlt">Genesis 1:1</a>
</p>
<p><i>The heavens are telling of the glory of God; And their expanse is declaring the work of His hands.</i>
  <a href="https://www.biblegateway.com/passage/?search=Psalm+19%3a1&version=nlt">Psalm 19:1</a>
</p>
