<img src="./img/comforting/jehovah-rapha.png" class="w-100 mb-3">
<p>
	Brings comfort and hope to many of us who have prayed for healing and
  deliverance from disease, illness, brokenness, or painful circumstances. It
  reminds us that God knows we&rsquo;re in need of help, He understands we&rsquo;re in need
  of healing, and He promises to redeem every broken place in our lives.  He
  never leaves us on our own to fend for ourselves. Without Him we couldn&rsquo;t have
  hope for true freedom and healing, but just as God brought miraculous
  deliverance from all types diseases and difficulties throughout His word, He
  promises to act on behalf of His people still today. Sometimes the healing
  doesn&rsquo;t come in the timetable or way that we would choose, and that can be
  hard. But as believers we still have this hope and assurance: we will live
  forever free in heaven, far away from the burdens we&rsquo;ve carried here in this
  life. Jesus promises to make all things new, and God will wipe away every
  tear.
</p>
<h5>References</h5>
<p>
  <i>He said, &ldquo;If you will listen carefully to the voice of the Lord your God
    and do what is right in his sight, obeying his commands and keeping all his
    decrees, then I will not make you suffer any of the diseases I sent on the
    Egyptians; for I am the Lord who heals you.&rdquo;
  </i>
  <a href="https://www.biblegateway.com/passage/?search=Exodus+15%3A26&version=NLT">Exodus 15:26</a>
</p>
