<h4>Comforting Questions</h4>
<!--Accordion wrapper-->
<div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">

  <!-- Accordion card 1 -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingComfortingQuestion1">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseComfortingQuestion1" aria-expanded="true" aria-controls="collapseComfortingQuestion1">
        <h5 class="mb-0">
          1. What happened?
          <i class="fa fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseComfortingQuestion1" class="collapse" role="tabpanel" aria-labelledby="headingComfortingQuestion1" data-parent="#accordionEx">
      <div class="card-body">
        Discover the facts:
        <ul>
          <li>
            Who?
          </li>
          <li>
            What?
          </li>
          <li>
            When?
          </li>
          <li>
            Where?
          </li>
        </ul>
        Allow the speaker to express themselves but don't try to fix the problem or offer advice. You are there to listen and to comfort.
      </div>
    </div>
  </div>

  <!-- Accordion card 2 -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingComfortingQuestion2">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseComfortingQuestion2" aria-expanded="true" aria-controls="collapseComfortingQuestion2">
        <h5 class="mb-0">
          2. What question are you asking yourself?
          <i class="fa fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseComfortingQuestion2" class="collapse" role="tabpanel" aria-labelledby="headingComfortingQuestion2" data-parent="#accordionEx">
      <div class="card-body">
        <p>Discover the question that is causing the mind to search for answers. Often times Satan will use a question in order to capture our thoughts. Satan used this scheme when he asked Eve a question while in the Garden of Eden. He took her thoughts
          captive with a question.
          <a href="https://www.biblegateway.com/passage/?search=Genesis+3%3A1&version=NLT">Genesis 3:1
          </a>
        </p>
        <p>
          Men can often be
          <b>deceived</b>
          with false information but women are often
          <b>beguiled</b>
          when they are given just a few facts and left to ﬁll in the rest with a story of their own imagination.
        </p>
        <p>
          You can ask, "What happened?" and "What are you telling yourself?" if they can't detect the question they are asking themselves.
        </p>
      </div>
    </div>
  </div>

  <!-- Accordion card 3 -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingComfortingQuestion3">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseComfortingQuestion3" aria-expanded="true" aria-controls="collapseComfortingQuestion3">
        <h5 class="mb-0">
          3. How are you answering that question?
          <i class="fa fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseComfortingQuestion3" class="collapse" role="tabpanel" aria-labelledby="headingComfortingQuestion3" data-parent="#accordionEx">
      <div class="card-body">
        <p>
          In other words, what are you telling yourself about this situation?
          <br>
          What meaning did you give to the facts in this situation?
        </p>
      </div>
    </div>
  </div>

  <!-- Accordion card 4 -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingComfortingQuestion4">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseComfortingQuestion4" aria-expanded="true" aria-controls="collapseComfortingQuestion4">
        <h5 class="mb-0">
          4. How does it make you feel?
          <i class="fa fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseComfortingQuestion4" class="collapse" role="tabpanel" aria-labelledby="headingComfortingQuestion4" data-parent="#accordionEx">
      <div class="card-body">
        <p>
          Satan is a deceiver and the father of lies, he will try to capture your thoughts ﬁrst, then he will help you create a story ﬁlled with half truths, lies and accusations so he can capture your emotions and ﬁnally your will. He wants you to make unwise
          choices based on F.E.A.R. so he can kill your body, rob you of your ﬁnances, and destroy your relationships.
        </p>
        <p><img class="w-100" src="img/comforting/fear.png"></p>
        <p>It becomes a story when we do not have all the facts and we need to ﬁll in the gaps with our own imagination or the accuser of the brethren helps us ﬁll in the gaps with his F.E.A.R.
        </p>
        <p>
          <b>It is not the facts that create the emotion, it is the story we create around the facts.
          </b>
        </p>
        <p>The meaning determines the feeling. We need to be aware of the meaning we are attaching to the facts and then challenge that meaning with the truth. Often times it means seeking counsel from others so we can recognize reality and allow truth to
          set us free.
        </p>
      </div>
    </div>
  </div>

  <!-- Accordion card 5 -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingComfortingQuestion5">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseComfortingQuestion5" aria-expanded="true" aria-controls="collapseComfortingQuestion5">
        <h5 class="mb-0">
          5. When you feel that way what do you want to do?
          <i class="fa fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseComfortingQuestion5" class="collapse" role="tabpanel" aria-labelledby="headingComfortingQuestion5" data-parent="#accordionEx">
      <div class="card-body">
        <p>How do you act to those around you when you feel those emotions?</p>
        <ul>
          <li>
            Physical actions e.g. anger, flight, withdrawal
          </li>
          <li>
            Verbal actions e.g. shouting, criticism, silence
          </li>
          <li>
            Mental actions e.g. cursing, blaming, ostracizing
          </li>
        </ul>
      </div>
    </div>
  </div>

  <!-- Accordion card 6 -->
  <div class="card">
    <!-- Card header -->
    <div class="card-header" role="tab" id="headingComfortingQuestion6">
      <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseComfortingQuestion6" aria-expanded="true" aria-controls="collapseComfortingQuestion6">
        <h5 class="mb-0">
          Are you ready to bring your thoughts captive?
          <i class="fa fa-angle-down rotate-icon"></i>
        </h5>
      </a>
    </div>

    <!-- Card body -->
    <div id="collapseComfortingQuestion6" class="collapse" role="tabpanel" aria-labelledby="headingComfortingQuestion6" data-parent="#accordionEx">
      <div class="card-body">
        <p>
          David would pour out his heart unto the Lord, by expressing the facts as he saw them, by letting God know the questions that were going through his mind and the answers he was telling himself.
          <a href="https://www.biblegateway.com/passage/?search=Psalm+42%3A4&version=NLT">Psalms 42:4</a>
        </p>
        <p>
          He would express his feelings until he knew the Lord had considered his troubles and knew his soul in adversity
          <a href="https://www.biblegateway.com/passage/?search=Psalm+31%3A7-8&version=NLT">Psalm 31:7-8</a>
          <a href="https://www.biblegateway.com/passage/?search=Psalm+62%3A8&version=NLT">Psalm 62:8</a>
          and when he would ﬁnish he would say, "Why art thou cast down, O my soul? Hope thou in God, for I shall yet praise him!
          <a href="https://www.biblegateway.com/passage/?search=Psalms+42%3A5&version=NLT">Psalms 42:5</a>
        </p>
        <p>
          Perfect love will cast out fear and when fear is cast out the need for control will subside. Fear is often based on false evidence that appears real. Our natural inclinations when we experience fear is to either ﬁght, take ﬂight or freeze.
          <a href="https://www.biblegateway.com/passage/?search=Proverbs+14%3A12&version=NLT">Proverbs 14:12</a>
        </p>
        <p>
          When we are acting out of fear we are accessing the small rear part of our brain designed for quick survival thinking and when we are being relational we are accessing the large frontal lobes where our relational circuits are found.</p>
        <p>Science has recently discovered what God has been prescribing all along, in order to switch from the survival mode functions of the middle of the brain to the relational mode of the frontal lobes you need to start with a process called deliberate
          appreciation.
        </p>
      </div>
    </div>
  </div>
</div>
