<p>How do you act to those around you when you feel those emotions?</p>
<ul>
  <li>
    Physical actions e.g. anger, flight, withdrawal
  </li>
  <li>
    Verbal actions e.g. shouting, criticism, silence
  </li>
  <li>
    Mental actions e.g. cursing, blaming, ostracizing
  </li>
</ul>
