<p>Ask in prayer so that you may receive.
  <a href="https://www.biblegateway.com/passage/?search=matthew+21%3a22&version=nlt">Matthew 21:22</a>
</p>
<p>When you cry out the Lord hears you and delivers you.<a href="">Psalms 34:17</a>
  <a href="https://www.biblegateway.com/passage/?search=psalms+107%3a19&version=nlt">Psalms 107:19</a>
  <a href="https://www.biblegateway.com/passage/?search=psalms+107%3a28&version=nlt">Psalms 107:28</a>
</p>
<p>
  <b>Ask what God what you should do.</b>
</p>
