<h4>Comforting Questions</h4>

<!-- params = { cards: 'comforting-great', titles: [ '1. What can you be grateful for', ...] } -->
{% import 'macros/accordian.njk' as accordian %}
{{ accordian.build({
  cards: 'comforting-questions',
  titles: [
    '1. What are the facts about the situation?',
    '2. What question are you asking yourself?',
    '3. How are you answering that question?',
    '4. How does it make you feel?',
    '5. When you feel that way what do you want to do?',
    'Are you ready to bring your thoughts captive?'
  ]
}) }}
