<img src="./img/comforting/jehovah-jireh.png" class="w-100 mb-3">
<p>
  God will provide for our needs. Every one of them, He is
  faithful, He is able, nothing is too difficult for Him. Sometimes His timing
  is different than ours, maybe we feel that He&rsquo;s forgotten and hasn&rsquo;t heard our
  prayers. Sometimes we get our &ldquo;needs&rdquo; and &ldquo;wants&rdquo; mixed up, and other times He
  knows what is better for us than we even know ourselves. We can trust Him,
  that His timing is perfect, and that all things are possible for Him even when
  we can&rsquo;t see a way out. Abraham found this to be true. Alone with his son
  Isaac in the wilderness, He knew and trusted that God would provide for a
  sacrifice in place of his only child. He believed in God&rsquo;s character, and knew
  Him to be faithful, loving, and the God who will provide. Often it seems, that
  God tests our hearts like He did Abraham&rsquo;s that day. He wants to know what
  we&rsquo;re willing to lay down before Him, before He opens the doors of provision
  and blessing. May we be found faithful.

</p>
<h5>References</h5>
<p>
  <i>Abraham named the place Jehovah-Jireh (which means &ldquo;the Lord will provide&rdquo;).
    To this day, people still use that name as a proverb: &ldquo;On the mountain of the
    Lord it will be provided.&rdquo;
  </i>
  <a href="https://www.biblegateway.com/passage/?search=Genesis+22%3a14&version=nlt">Genesis 22:14</a>
</p>
