<img src="./img/comforting/jehovah-shalom.png" class="w-100 mb-3">
<p>
  God is the only One able to give us the peace that passes all of our own
  understanding. Gideon knew this well from a time that he and his people were
  surrounded by a fierce enemy. There was nothing about that time that seemed
  &ldquo;peaceful.&rdquo; And yet, God showed up strong on their behalf, He was faithful and
  brought deliverance straight through fear-filled days. Maybe that&rsquo;s why Gideon
  felt so led to build an altar to the Lord and call it, &ldquo;The Lord is Peace.&rdquo; In
  times of greatest darkness, he had seen how true this was. The peace of God
  often doesn&rsquo;t make sense to a world that would tell us to hurry and worry. A
  world that seems hard some days, and often so full of struggles. In the midst
  of it all, He reminds us that He is our true peace, so we never need to fear.
  No matter what we face.
</p>
<h5>References</h5>
<p><i>And Gideon built an altar to the Lord there and named it Jehovah-Shalom
  (which means &ldquo;the Lord is peace&rdquo;). The altar remains in Ophrah in the land of
  the clan of Abiezer to this day.<i>
  <a href="https://www.biblegateway.com/passage/?search=Judges+6%3a24&version=nlt">Judges 6:24</a>
</p>
