<h4 class="comforting-text">Ten Names of God</h4>
<!-- params = { cards: 'comforting-great', titles: [ '1. What can you be grateful for', ...] } -->
{% import 'macros/accordian.njk' as accordian %}
{{ accordian.build({
  cards: 'comforting-names',
  titles: [
    '1. Elohim -- God ',
    '2. Yahweh -- The Lord',
    '3. Abba -- Father',
    '4. El Elyon -- God Most High',
    '5. El Roi -- The God Who Sees',
    '6. El Shaddai -- God Almighty',
    '7. Jehovah Jireh -- The Lord Will Provide',
    '8. Jehovah Nissi -- The Lord Is My Banner',
    '9. Jehovah Rapha -- The Lord Who Heals You',
    '10. Jehovah Shalom -- The Lord is Peace'
  ]
}) }}
<p>
Adapted from
<a href="https://www.ibelieve.com/faith/10-powerful-names-of-god-and-what-they-mean-for-us-today.html">10 Powerful Names of God (And What They Mean for Us Today)</a>
by Debbie McDaniel
</p>
