<img src="./img/comforting/el-roi.png" class="w-100 mb-3">
<p>
  	The kindness and care that this name holds as it points to God’s character. He is one who chases after us, who follows us with goodness. He is the one who sees us when we feel lonely, all on our own, or when we just need the reminder that God is close. The name El Roi says to us that God is watching over all, that He sees the affairs of people, and knows when we feel lost and unloved.
  When Hagar had run away to a desert place far from those she felt hurt and betrayed by, we see God surround her in so much grace and care. He didn’t leave her alone in her troubles. Nor will He leave us to fend for ourselves through difficult times. This story of God’s name reminds us that He is always close, that He sees us when we feel that no one else does, and that He cares.

</p>
<h5>References</h5>
<p><i>Thereafter, Hagar used another name to refer to the Lord, who had spoken
  to her. She said, &ldquo;You are the God who sees me.&rdquo; She also said, &ldquo;Have I truly 
  seen the One who sees me?&rdquo;</i>
  <a href="https://www.biblegateway.com/passage/?search=Genesis+16%3a13&version=nlt">Genesis 16:13</a>
</p>
