<img src="./img/comforting/jehovah-nissi.png" class="w-100 mb-3">
<p>
  	Proclaims His protection, leadership, and deliverance for His people. Just
    as God brought divine protection for the Israelites against their enemy, the
    Amalekites, He offers us protection and deliverance today from the enemies
    we may face in this life. While Joshua and the people fought against their
    enemy, Moses stood on top of a hill with God&rsquo;s staff in his hands. The Bible
    tells the story that even though Moses grew weary, when his hands were
    lifted by those who supported him, the Israelites were winning, and when his
    hands lowered the Amalekites were winning. It was clear to all who gave them
    victory that day. Sometimes we spin our wheels trying to battle through our
    hard days in our own strength. We get weary, we get upset, we get angry, and
    we end up losing it. God&rsquo;s reminder is to all Him to be our banner, our 
    rotector, that One that is able to lead us and give us supernatural victory
    against forces and obstacles that come against us. If we allow Him to be in
    control, He will do more on our behalf, than would ever be possible on our
    own.
</p>
<h5>References</h5>
<p>
  <i>Moses built an altar there and named it Jehovah-Nissi (which means &ldquo;the Lord is my banner&rdquo;).
  </i>
  <a href="https://www.biblegateway.com/passage/?search=Exodus+17%3A15&version=NLT">Exodus 17:15</a>
</p>
