<p>
  Discover the facts:
  <ul>
    <li>
      Who?
    </li>
    <li>
      What?
    </li>
    <li>
      When?
    </li>
    <li>
      Where?
    </li>
  </ul>
  Allow the speaker to express themselves but don't try to fix the problem or
  offer advice. You are there to listen and to comfort.
</p>
