<p>
  That you know God and he has not forsaken you?
  <a href="https://www.biblegateway.com/passage/?search=psalms+9%3a10&version=nlt">Psalms 9:10</a>
</p>
<p>
  That when you order your thoughts and words around Him he promises you salvation?
  <a href="https://www.biblegateway.com/passage/?search=psalms+50%3a23&version=nlt">Psalms 50:23</a>
</p>
<p>
  We enter into God's courts with praise.
  <a href="https://www.biblegateway.com/passage/?search=philippians+4%3a4&version=nlt">Philippians 4:4</a>
</p>
<p>
  <b>What name of the Lord could you rejoice in right now?</b>
</p>
