<p>
  Satan is a deceiver and the father of lies, he will try to capture your thoughts first, then he will help you create a story filled with half truths, lies and accusations so he can capture your emotions and finally your will. He wants you to make
  unwise choices based on F.E.A.R. so he can kill your body, rob you of your finances, and destroy your relationships.
</p>
<p><img class="w-100" src="img/comforting/fear.png"></p>
<p>It becomes a story when we do not have all the facts and we need to fill in the gaps with our own imagination or the accuser of the brethren helps us fill in the gaps with his F.E.A.R.
</p>
<p>
  <b>It is not the facts that create the emotion, it is the story we create around the facts.
  </b>
</p>
<p>The meaning determines the feeling. We need to be aware of the meaning we are attaching to the facts and then challenge that meaning with the truth. Often times it means seeking counsel from others so we can recognize reality and allow truth to
  set us free.
</p>
