<img src="./img/comforting/el-elyon.png" class="w-100 mb-3">
<p>
  	Used through the Old Testament revealing God is above all gods, that nothing
    in life is more sacred. He is indeed the Lord Most High, the One who reigns
    supreme. He is greater than any force of darkness in this world, He is
    bigger than any problem we might come up against in this life. In daily life
    struggles and battles, we sometimes just need to be reminded that God is
    still in control. He never will lose His power and might, though the world
    feels dark many days, He has conquered death and sin. He is Mighty. He is
    Lord. He is exalted over all.
</p>
<h5>References</h5>
<p><i>I will thank the Lord because he is just;
    I will sing praise to the name of the Lord Most High.</i>
  <a href="https://www.biblegateway.com/passage/?search=Psalm+7%3a17&version=nlt">Psalm 7:17</a>
</p>
