<h4>Four Levels of Forgiveness</h4>
<p>
  The four levels of forgiveness are invoked by proceeding backwards through the
  <b>Four Levels of the Problem</b>. Your notetaking in the previous steps will come in handy here!
</p>
<p>Say
  <em>
    "Knowing what I know now..."</em>
</p>
<h5>Level 4: Root Cause</h4>
<p>Say
  <em>&ldquo;I can see how my unwillingness to...&rdquo;</em>
  and state how you resisted God&rsquo;s grace.
</p>
<h5>Level 3: Root Problem</h5>
<p>Say
  <em>&ldquo;Caused you to feel unloved or disrespected...&rdquo;</em>
  and state the <a href="./character.html?tab=character-panel-2">character qualities</a> you failed to demonstrate.</p>
<h5>Level 2: Surface Causes</h5>
<p>Say
  <em>&ldquo;And made you believe... fear... remember... experience...&rdquo;</em>
  and state the effect of your words or actions.</p>
<h5>Level 1: Surface Problem</h5>
<p>Say
  <em>&ldquo;Because of my actions or words of...&rdquo;</em>and state the content of your words or actions.</p>
<p>Say
  <em>&ldquo;Will you please forgive me?&rdquo;</em>
</p>
<p>Note that the other person may not be ready to forgive you in that moment. That's ok, let them sit with apology and allow God to work in them. At this point, you will have demonstrated that you have insight into their true condition.</p>
<h5>Additional Information</h5>
<p>At this point you may have some additional information that you might be able to give that will provide clarity to the situation.</p>
<p>Say
  <em>&ldquo;Would you like to know any additional facts so you can ease your mind regarding this situation?&rdquo;</em>
</p>
<p>Or say
  <em>&ldquo;I have some additional information that might be helpful in understanding this situation better, would you like me to share it now or at some other time?&rdquo;</em>
</p>
<p>Describe your intent in sharing or doing what you did.</p>
<p>Understanding a person&rsquo;s intent will help your spouse associate a new and more accurate meaning to the content ofyour words and actions. Our feelings are often controlled by the meaning we associate to words and actions. Change the meaning and you
  will change the feelings.</p>
<p>Discovering the truth will overcome the F.E.A.R.s (False Evidence that Appears Real) and it will set you free from the lies of the enemy. This requires listening to one another&rsquo;s facts, meaning and then deciphering the truth and being willing to
  once again believe the best, hope the best and endure to see the best.</p>
<p>When we become allies instead of enemies, we help one another become vulnerable enough to share from the heart the facts, feelings, fears, failures, weaknesses, needs and then finally the truth that will help both to once again enter into God&rsquo;s
  rest. (See
  <a href="https://www.biblegateway.com/passage/?search=Hebrews+4&amp;version=NLT">Hebrews 4</a>
  and
  <a href="https://www.biblegateway.com/passage/?search=Proverbs+16%3A6-7&amp;version=NLT">Proverbs 16:6-7</a>)
</p>
