<p>
  These are hurtful words, actions and attitudes and represent the
  <i>content</i>
  of words or actions.
</p>
<ul>
  <li>
    Ask
    <i>"What did you hear me say?"</i>
  </li>
  <li>
    Ask
    <i>"What did you see me do?"</i>
  </li>
  <li>
    Remember that what someone else sees or hears may not be what you intended or even what you thought you said or did.
    <br>
  </li>
  <li>The important thing is not to determine whose perspective is correct but more that you understand the other person's perspective. Many times what we say or do can speak into other's fears and get filtered negatively.
    <br>
  </li>
</ul>
