<p>
  Regardless of your intent this is often a failure to demonstrate love or respect and a lack of vital character qualities (see the 49 Character Qualities of Christ).
</p>
<ul>
  <li>
    Ask<i>
      "How did I fail to demonstrate love or respect to you?"</i>
  </li>
  <li>
    Ask
    <i>"What <a href="./character.html?tab=character-panel-2">character qualities</a> did I fail to demonstrate?"</i>
  </li>
  <li>
    Ask
    <i>"What qualities do you need to see in me?"</i>
  </li>
  <li>
    Ask
    <i>"What does this failure cause you to think or do?"</i>
  </li>
</ul>
