<p>
  These are the resulting thoughts, fears, and conclusions, and represent the
  <i>interpreted intent</i>
  of your words or actions.
</p>
<ul class="normal-list">
  <li>
    Ask <i>"What did my words, actions, attitudes cause you to think?"</i>
    This allows you to understand the lies that the speaker began to believe.
  </li>
  <li>
    Ask
    <i>"What meaning did you give to my words or actions?"</i>
  </li>
  <li>
    Ask
    <i>"The meaning often determines the feeling, what did you feel?"</i>
  </li>
  <li>
    Ask
    <i>"What fears did this produce in you?"</i>
  </li>
  <li>
    Ask
    <i>"What painful memories did this trigger?"</i>
  </li>
  <li>
    Ask
    <i>"What stress did this cause?"</i>
  </li>
  <li>
    Ask
    <i>"What conclusions did you come to?"</i>
  </li>
</ul>
