<p>
  This root cause is us resisting God&#8217;s grace in our pride and stubbornness.
</p>
<ul>
  <li>
    Ask
    <i>"What do you perceive I am unwilling to do?"</i>
  </li>
  <li>
    Ask
    <i>"How did I resist God&#8217;s grace in this situation?"</i>
  </li>
  <li>
    Ask
    <i>"How did I demonstrate pride to you?"</i>
  </li>
  <li>
    Ask
    <i>"How did my stubbornness affect you?"</i>
  </li>
</ul>
