<p>Has God ever worked supernaturally in your life?</p>
<p>Has He answered any significant prayer?</p>
<p>Has he ever spared your life from accident or danger?</p>
<p>Has He ever provided money or things in answer to prayer?</p>
<p>Has God ever not answered an important prayer?</p>
<h5>Secrets to praying back to God all the truth He has revealed to you
</h5>
<p>If you fail to pray things back to God you will face the responsibility of truth on your own and experience one of the following consequences:
</p>
<ol>
<li>Feel condemned by it and your heart will be hardened.</li>
<li>Try to do it in the power of the ﬂesh and give up quickly.
<a href="
  https://www.biblegateway.com/passage/?search=" romans+7%3a15&version="NLT""">Romans 7:15</a>
</li>
<li>Mentally assent to it and become a hearer's of the Word but not a doer of the Word thereby deceiving yourself.
<a href="https://www.biblegateway.com/passage/?search=James+1%3A23-25&version=NLT">James 1:23-25</a>
<a href="https://www.biblegateway.com/passage/?search=James+1%3A25&version=NLT">James 1:25</a>
</li>
</ol>
<h5>When you pray things back to God you are:</h5>
<ol>
<li>Praying back to Him what He has shown you and acknowledging your need for Him to live through you.
<a href="https://www.biblegateway.com/passage/?search=Psalms+55%3A22&version=NLT">Psalms 55:22</a>
<a href="https://www.biblegateway.com/passage/?search=Psalms+57%3A2&version=NLT">Psalms 57:2</a>
</li>
<li>You are trusting God to complete that which He has begun in you.
<a href="https://www.biblegateway.com/passage/?search=Philippians+1%3A6&version=NLT">Philippians 1:6</a>
</li>
<li>Recognizing our responsibility is to believe and speak with faith.
<a href="https://www.biblegateway.com/passage/?search=John+6%3A29&version=NLT">John 6:29</a>
<a href="https://www.biblegateway.com/passage/?search=Romans+4%3A7&version=NLT">Romans 4:17</a>
<a href="https://www.biblegateway.com/passage/?search=Luke+1%3A38&version=NLT">Luke 1:38</a>
<a href="https://www.biblegateway.com/passage/?search=Romans+10%3A8&version=NLT">Romans 10:8</a>
</li>
<li>You are accepting the reality that apart from God you can do nothing.
<a href="https://www.biblegateway.com/passage/?search=John+15%3A5&version=NLT">John 15:5</a>
</li>
<li>You are accepting the fact that your power comes from containing
<b>Someone</b>
as a vessel versus trusting in ourselves and performing to become somebody in the power of the ﬂesh.
<a href="https://www.biblegateway.com/passage/?search=2+Corinthians+4%3A7&version=NLT">2 Corinthians 4:7</a>
<a href="https://www.biblegateway.com/passage/?search=Acts+17%3A28&version=NLT">Acts 17:28</a>
<a href="https://www.biblegateway.com/passage/?search=Jeremiah+9%3A23-24&version=NLT">Jeremiah 9:23-24</a>
</li>
<li>You are changing your mind to agree with God. Repenting and turning away from your own way to follow God.</li>
</ol>
