<p>What do you want to do in your life?</p>
<p>Who do you want to be like?</p>
<ul>
  <li>As a person?</li>
  <li>As a partner?</li>
  <li>As a parent?</li>
  <li>As a provider?</li>
  <li>As a proclaimer?</li>
</ul>
<p>What do you think is God&#8217;s will for your life?</p>
<p>What skills do you want to develop?</p>
<p>Who do you want to help?</p>
<p>What is your fondest dream, as yet unachieved?</p>
<p>What do you like to do with your time-off?</p>
<p>What is your secret ambition?</p>
<p>What are your dreams of being loved? How do you want to be loved?</p>
<p>What are your dreams about being respected? How do you want to be respected?</p>
<p>What you are waiting for is what you are living for, so what are you waiting for in your life?</p>
<p>What would a romantic night out look like?</p>
<p>What area of study would you like to become an expert in?</p>
<p>What would you like to be famous for?</p>
<p>What would you like written on your tombstone? In your obituary?</p>
<p>Who would you like to be mentored by one day?</p>
<p>What qualities do you want to develop in your life?</p>
<p>What do you dream about being the best in the world at doing?</p>
<p>What would you do if you knew you could not fail and God would be with you?</p>
<p>What you are waiting for is what you are living for!
  <ul>
    <li>What are you waiting and living for as a person?</li>
    <li>What are you waiting and living for as a partner?</li>
    <li>What are you waiting and living for as a parent?What are you waiting and living for as a provider?</li>
    <li>What are you waiting and living for as a proclaimer?</li>
  </ul>
</p>
