<p>
  <img class="w-100" title="Greeting" alt="Greeting" src="img/connecting/ConnectingGreeting.png"/>
  To “salute one another” means to envelope in the arms of your heart. Greetings answer a very big question in the heart of people.
  <i>“Do you delight in me and are you glad to see or be with me?”</i>
</p>
<p>How does a high D, I, S, or C like to be greeted? Consider their characteristics:
</p>
<p>
  <b>Dominance</b>: People who score high in the intensity of the "D" styles factor are very active in dealing with problems and challenges, while low "D" scores are people who want to do more research before committing to a decision. High "D" people
  are described as demanding, forceful, egocentric, strong-willed, driving, determined, ambitious, aggressive, and pioneering.</li>
</p>
<p>
<b>Influence:</b>
People with high "I" scores influence others through talking and activity and tend to be emotional. They are described as convincing, magnetic, political, enthusiastic, persuasive, warm, demonstrative, trusting, and optimistic.</li>
</p>
<p>
<b>Steadiness:</b>
People with high "S" styles scores want a steady pace, security, and do not like sudden change. High "S" individuals are calm, relaxed, patient, possessive, predictable, deliberate, stable, consistent, and tend to be unemotional and poker faced.</li>
</p>
<p>
<b>Compliance:</b>
People with high "C" styles adhere to rules, regulations, and structure. They like to do quality work and do it right the first time. High "C" people are careful, cautious, exacting, neat, systematic, diplomatic, accurate, and tactful.</li>
</p>
<p>
What would make you believe I am glad to see and be with you when we first see each other in the morning or when we get back together at the end of the day or from being away from one another?
</p>
