<img class="w-100" title="Information" alt="Information" src="img/connecting/ConnectingInformation.png"/>
<p>
  Asking these questions tend to reveal rudimentary personal information but is one level lower than just greetings.</p>
<ul class="normal-list">
  <li>Weather</li>
  <li>Basic information (height, weight, siblings, parents, other relatives)</li>
  <li>What did you do today?</li>
  <li>What did you learn?</li>
  <li>What is your favorite meal? What is your favorite way to spend an evening?</li>
  <li>What is your favorite color?</li>
  <li>Where were you born?</li>
  <li>When were you born?</li>
  <li>Who is your best friend?</li>
  <li>What qualities do you admire in your friend?</li>
  <li>What attracted you to this friend?</li>
  <li>Does this friendship tend to build you up or pull you down?</li>
  <li>What books have in&#64258;uenced you the most?</li>
  <li>Have you ever thought about writing a book?</li>
  <li>What would you write a book about?</li>
  <li>Who is your favorite relative?</li>
  <li>What do you enjoy doing most in your free time?
    <ul class="normal-list">
      <li>Sports</li>
      <li>Reading</li>
      <li>Projects</li>
      <li>Hobbies</li>
    </ul>
 </li>
  <li>What is your favorite type of music or song, or instrument?</li>
  <li>What is your favorite holiday?</li>
  <li>What is your favorite kind of reading?</li>
  <li>Who is your favorite author, poet?</li>
</ul>
