<p>Personal Preferences</p>
    <ul>
      <li>What are your preferences concerning....?</li>
      <li>What do you think about...?</li>
    </ul>
  <p>Relationships and Possible Vulnerable Vacuums</p>
    <ul>
      <li>Who have you received the most love from in your life?</li>
      <li>Who has been like an iron-sharpening-iron person in your life?</li>
      <li>Who have you enjoyed giving to and sacri&#64257;cing for in your life?</li>
    </ul>
  <p>Home Life</p>
    <ul>
      <li>What things discouraged you in your family?</li>
      <li>Clutter in the house</li>
      <li>Con&#64258;icts</li>
      <li>Tension between parents</li>
      <li>Daily schedule or lack of one</li>
      <li>Un&#64257;nished house repairs</li>
      <li>Doing chores</li>
      <li>Rules and restrictions</li>
      <li>What was the most discouraging thing in your family home?</li>
    </ul>
  <p>What person do you respect or admire the most?</p>
    <ul>
      <li>What do you respect about them?</li>
    </ul>
  <p>What do you want others to respect about you?</p>
  <p>Who is your least favorite person that we both know?</p>
    <ul>
      <li>What is it about them that is least favorite?</li>
    </ul>
  <p>What character qualities would make you feel most loved?</p>
  <p>How would you describe your relationship with God?</p>
  <p>Where and when were you born again?</p>
  <p>Do you have doubts about salvation?</p>
  <p>What are your favorite types of presents?</p>
  <p>What is one of your favorite childhood memories?</p>
  <p>What is one of your favorite vacation memories?</p>
  <p>What is your favorite get-away place?</p>
  <p>What is your favorite movie?</p>
  <p>What is your favorite &#64258;ower?</p>
  <p>What foods do you hate?</p>
  <p>What is your favorite animal?</p>
  <p>What is your favorite season?</p>
  <p>What is your favorite bird, &#64258;ower, tree, etc?</p>
