<p>What fears do you experience?</p>
<ul>
  <li>Rejection or abandonment</li>
  <li>Failure</li>
  <li>Future events</li>
  <li>Losing the control to make my own choices or control my own time</li>
  <li>Change</li>
  <li>Criticism of my work</li>
  <li>Past failures being discovered</li>
  <li>Loneliness</li>
  <li>Loss</li>
  <li>Death</li>
  <li>Money and security</li>
</ul>
<p>Knowing what you know now, what are some things in your past you would like to change?</p>
<ul>
  <li>Bad experiences?</li>
  <li>Lost opportunities?</li>
  <li>Physical features?</li>
</ul>
<p>Is there anything you would be afraid to talk to me about?</p>
<ul>
  <li>Anything you think might make me angry?</li>
  <li>Something you are afraid I think would be silly?</li>
  <li>Thoughts you are having?</li>
  <li>Desires about God?</li>
</ul>
<p>When was a time in your life when you had enemies?</p>
<p>What was your most embarrassing moment?</p>
<p>What is your worst childhood experience?</p>
<p>What frustrates you the most?</p>
<p>What is the primary vulnerable feeling under the secondary emotion of frustration or anger?</p>
<p>
  <a href="https://www.biblegateway.com/passage/?search=Psalms+19%3A12&version=NLT">Psalms 19:12</a>
</p>
