<p>If you could talk to God face to face, what would you ask?</p>
<p>What personal improvement do you want to make in your life?</p>
<p>What medical problems are you concerned about?</p>
<p>Does God delight in me?</p>
<p>What do you need to thrive spiritually?</p>
<p>Do you delight in me? Can I delight in who God made me to be?</p>
<p>What do you need to thrive in your relationships?</p>
<p>Can I delight in knowing and doing God&#8217;s will?</p>
<p>Wife - What do you need to thrive as a good lover of a husband, children, keeper of the home and teacher of good things?</p>
<p>Can I delight others with my God-given gifts, talents, and signature strengths?</p>
