<p>What makes you feel most competent?</p>
<p>How do you feel about yourself?</p>
<p>When have you felt the most special to others?</p>
<p>How secure do you feel in your life right now?</p>
<p>How signi&#64257;cant do you feel right now?</p>
<p>Do you feel like you belong?</p>
<p>What hurts have you experienced from people?</p>
<ul>
  <li>Friends</li>
  <li>Neighbors or classmates</li>
  <li>Brothers or sisters</li>
  <li>Parents</li>
  <li>Teachers</li>
  <li>Relatives</li>
</ul>
<p>What makes you feel unloveable? Don&#8217;t deserve love?</p>
<p>What makes you feel like it is always your fault?</p>
<p>What makes you feel like you don&#8217;t measure up?</p>
<p>What are some painful memories you have?</p>
<p>What causes you stress? (Anger, Guilt, Lust, Bitterness, Greed, Fear, Envy)</p>
<p>Are their feelings in yourself you can&#8217;t understand or don&#8217;t know how to articulate?</p>
<p>What is your favorite way of being soothed?&nbsp; What helps you return to joy?</p>
<p>What are some of the events coming up in your life and how do you feel about them?</p>
<p>What are you currently sad about?</p>
<p>What are you currently glad about?</p>
<p>What are you currently mad about?</p>
<p>What is one of your major concerns or worries?</p>
<p>Identify your current feelings from a list of adjectives that describe emotions. See the emotion word list in the
  <a href="courageous.html">Courageous Conversation</a>
  section.</p>
