<p>What have you been reading in God&rsquo;s Word lately?</p>
<p>What is God speaking to you through His Word?</p>
<p>What are the prophecies concerning you, which you have received?</p>
<p>Have you received a Word of wisdom or understanding from someone?</p>
<p>What Godly counsel have you received?</p>
<p>Are you seeing God&rsquo;s hand at work right now?</p>
<p>What rhemas (God&rsquo;s written Word spoken to your heart) has God give you?</p>
<p>
  <a href="https://www.biblegateway.com/passage/?search=Psalm+19%3A7-8&version=NLT">Psalms 19:7-8</a>
  <a href="https://www.biblegateway.com/passage/?search=Psalm+19%3A14&version=NLT">Psalms 19:14</a>
</p>
