<p>Questions 1 &amp; 2 deal with the
  <b>Pressing Issues.</b>
  Very rarely will you ask someone if they would like to have a courageous conversation. You will most likely realize that there is a problem because someone is either acting hurt or trying to get you to understand their viewpoint. When you see that a
  conversation is turning combustible because you don&#8217;t feel understood or the other person is frustrated, it should dawn on you that you need to humble yourself and esteem the others need to be heard as greater than your own.
</p>
<p>
  This is the third beatitude of Jesus:
  <a href="http://biblehub.com/matthew/5-5.htm">God blesses the humble, for they will inherit the whole earth.</a>
</p><p>You can say,
  <b>&#8220;What I hear you saying is that your most pressing issue is&#8230;&#8221;</b>
  or if they have brought out multiple issues,
  <b>&#8220;What I hear you saying is&#8230;, which of these is the most pressing issue?&#8221;</b>
</p>
