<p>
  Questions 8 &amp; 9 have to do with making
  <b>Powerful Plans</b>. This question helps us focus on one thing that will make all the difference if we execute it with consistency and excellence. We are looking for one thing that will help us move towards the preferable future. It is an idea such as
  <i>&#8220;We cannot fail to communicate.&#8221;</i>
  It is an objective that is simply understood by everyone. For a doctor going into surgery, the one thing he cannot fail to do is wash his hands well or everything else he does will be rendered inconsequential. What is the one thing that you cannot
  fail to do or everything else will be rendered inconsequential? Understanding this one thing puts you on the path to making peace.
</p>
