<p>Questions 5 &amp; 6 deal with the personal responsibilities of those involved in the issue. When you ask this question you are showing a noble willingness to yield your rights and become meek and lowly, a servant like Christ, one who lays down his
  life for a brother. It also reveals a hunger and thirst for Christ&#8217;s righteousness rather than defending your own. This is the question most people fear to ask. It takes grace to die and lose your life, but God promises you will find it if you
  willingly lay it down. This question opens up the opportunity to really understand the heart of another, they want to share with you their real needs. If you begin to explain, complain or blame them in response to this question then you will have
  failed and turned a courageous conversation into a combustible one due to cowardice in not laying down your life.
</p>
<p>Rephrase what you heard the person say to their satisfaction. The goal of rephrasing their statement is to try and understand their heart. If they verbalized it well enough you can simply restate their comments, if God gives you further insight
  then be willing to wait until later to share this with them. Do not try to make up new statements because you don&#8217;t want to use their words, it will change the meaning.
  <b>Our goal is to reveal that we do understand their heart.</b>
</p>
