<p>
  Andy Stanley wrote a book about the
  <i>&#8220;Most Important Question&#8221;</i>
  and he states it like this
  <i>&#8220;What is the wisest step you should take based on past experience, present circumstances, and future hopes?&#8221;</i>
  These are the steps you can put in your planner. It describes who will do what by when. These are highly leveraged steps that will yield the greatest results. They are the 20% activities that will yield 80% of your results.
</p><p>
  <b>May God grant you the knowledge of His will in all wisdom and spiritual understanding that you may walk worthy of His noble calling and produce fruit that will stand the test of eternity as you make noble plans and carry out noble deeds.</b>
</p>
