<p>
  This question is an acknowledgment of
  <a href="https://www.biblegateway.com/passage/?search=Psalm+55%3A22&version=NLT">Psalm 55:22</a>
  We are to cast back on the Lord all our burdens that a conversation like this can create. We now know our responsibilities and the preferable future and we will either try to do it in the power of our flesh or we will cast our burdens on the Lord and
  acknowledge our weakness and dependence on Him to perform all things for us. When we agree in prayer right then we invite God?s power to impact this issue.
  <a href="https://www.biblegateway.com/passage/?search=Psalm%20133&version=NLT">Psalm 133</a>
  says that God commands a blessing when brethren dwell together in unity.
</p>
<p>Come together in prayer and ask God for this one thing.
</p>
