<p>This question is one the speaker is totally unprepared for because they have probably taken on the role of a victim. With this question you help them begin to move out of being a victim into a response-able person. They can begin to share in the
  responsibility of resolving this issue. The turning point of the whole conversation starts with this question.
</p>
<p>People who are speaking begin to show mercy to the listener if they have demonstrated humility, mourning, meekness and a hunger and thirst for righteousness. Some people will maintain a victim mindset. It is easier for a mediator to deal with this
  issue than a person who is part of the issue. If I am part of the issue I simply say
  <b>&#8220;What I hear you saying is...&#8220;</b>
</p>
