<p>Questions 3 & 4 deal with the painful consequences of an issue. The beatitude of mourning can be displayed by the listener as they show empathy for the other person. When a person feels heard and cared about they can begin to move on to resolving
  their issues. It is a rare experience for most people to feel safe enough to talk about anything because there are so few people who can listen from another&rsquo;s perspective. One definition of intimacy I like is &ldquo;In To Me See.&rdquo; When we look through
  another person&rsquo;s eyes and see as they see we can begin to understand why they are behaving the way they are.
</p>
<p>
  When you take the brunt of their intense emotions and don&rsquo;t defend yourself, but mourn over what you may have caused or what others have contributed to, you are following the command &ldquo;to rejoice with those who rejoice and mourn with those who mourn.&rdquo;
  It also allows you to see just how serious of an issue this is and what the cause and effects are for yourself and the organization.
</p>
<p>
  Rephrase what you heard the person say to their satisfaction. This is a part of engaging in the conversation and helping the person feel understood.
</p>
<p>
  The second part of this question allows you to see how that person acts when they feel a certain way. They may get angry, they may withdraw, they may get busy. It's a clue for you for the future as to how they might be feeling when you see that
  action taking place.
</p>
