<p>This question is a real motivator because you begin to see the high cost of doing nothing. You really need to consider just what the future could be and not gloss over this one. It helps everyone to be more committed to resolving the issue.
</p>
<p>Rephrase what you heard the person say to their satisfaction. If they are not satisfied that you understand, allow them to rephrase their statement, don&#8217;t try to guess, but be patient until they can verbalize their own thoughts. A right
  answer is like a kiss on the lips, and in this case it is a answer that shows you understand them.
</p>
