<p>The goal in this question is to get to the real issue. Most people may not be aware of how to describe their most pressing needs. Listen to what they say and try to see where one of two root issues may be causing the intense feelings.</p>
<ul class="normal-list" style="padding-left:15px">
  <li>
    <b>Fear of Rejection</b>
    &#8211; This issue or person is making me feel like I am unacceptable and I don&#8217;t feel good about myself because of it.
  </li>
  <li>
    <b>Fear of Failure</b>
    &#8211; This issue or person is making me feel inadequate.
  </li>
</ul>
<p>Think about how the woman&#8217;s most important question is being answered. Frequently, a woman asks herself constantly
  <i>&#8220;Am I worth being pursued?&#8221;</i>, so when her husband is not initiating the conversation or showing interest in her issues, she feels rejection.
</p>
<p>
  With men it seems the major question they are asking themselves is
  <i>&#8220;Am I adequate, do I have what it takes to succeed?&#8221;</i>
  When they feel like others view them as inadequate or their ability to succeed is hampered then they begin to experience tension.
</p>
<p>Sometimes people don&#8217;t verbalize these root issues and you need to sense if they are willing to acknowledge that this fear is present, otherwise let them determine their most pressing issue and agree to pursue this course with them.
</p>
<p>It is important that you write down the most pressing issue in a concise sentence because all the other questions will refer to this issue.
  <b>You can only deal effectively with one issue at a time.</b>
</p>
