<p>
  Questions 7 &amp; 8 are about the preferable future. This question turns the focus on what has been to what could and should be. It creates hope in the people because they begin to share a vision that both can agree on. When they realize how much
  they agree on their desired future they begin to walk together in agreement. This question begins to restore a sense of partnership and enthusiasm for what could and should be in their relationship and organization. God begins to give them a pure
  heart to see the future as he sees it, full of plans for good and not for evil.
</p>
<p>Restate what you heard them say the preferable future could be.
</p>
<p>The second part of this question allows you to create a plan for when you fail and how you will recover. It's a way for your spouse to let you become consciously competent by having them (gently) point out your error. It might be a memorable
  sentence or code word that you do not find offensive. What can your spouse safely do and say to help course correct and connect with them? What can you safely do and say to acknowledge your failure?
</p>
