<h4>The Noble Path</h4>
<img class="w-100" src="img/normal-to-noble/joymountain.png" alt="The Noble Path"/>
<p>The noble path requires courage to
  <strong>recognize reality</strong>: what the facts are, what your desires are, and whether they are Godly.</p>
<p>It requires us to
  <strong>receive reproof</strong>
  for those things that we are responsible for, to&nbsp;<strong>repent</strong>
  for them, and
  <strong>reveal vulnerably&nbsp;</strong>what we really need and what our fears and weakness are.</p>
<p>This means that we need to
  <strong>surrender</strong>
  our outcome (the desire) and trust God to deliver.</p>
<p>Taking this path consistently with your spouse will show that you have
  <strong>willingness</strong>
  to understand and change where appropriate, a deep intimate
  <strong>understanding</strong>
  of your spouse, leading to greater
  <strong>love</strong>,
  <strong>peace</strong>
  in your household, and
  <strong>joy</strong>
  in each other and God.</p>
<p>
  <b>That is the Noble Path.</b>
</p>
