<p >This diagram shows the states that we go through on a normal cycle, represented by the circle on the left. It usually starts with a
  <strong>desire</strong>
  <a href="https://www.biblegateway.com/passage/?search=James+4%3A1-11&amp;version=NLT">James 4:1-11</a>
  but it meets
  <strong>resistors</strong>, things that come against the desire. They might be physical or financial limitations or it could simply be your spouse, who in your opinion, is not cooperating.
  <a href="https://www.biblegateway.com/passage/?search=James+4%3A6&amp;version=NLT">James 4:6</a>
</p>
<p>
  This leads to
  <strong>conflict</strong>
  with usually predictable results. When we work from our desires and our flesh we often do and say things that we regret later.
  <a href="https://www.biblegateway.com/passage/?search=Proverbs+13%3A10&amp;version=NLT">Proverbs 13:10</a>
</p>
<p>
  When we realize that we’ve stepped outside of God’s boundaries we feel
  <strong>guilty</strong>.
  <a href="https://www.biblegateway.com/passage/?search=Leviticus+5%3A17&amp;version=NLT">Leviticus 5:17</a>
</p>
<p>
  This causes us to
  <strong>blame</strong>
  others in order to feel better about ourselves but this is a fallacy. It really doesn’t make us feel better at all.
  <a href="https://www.biblegateway.com/passage/?search=Proverbs+14%3A3&amp;version=NLT">Proverbs 14:3</a>
</p>
<p>
  At this point we have a
  <strong>decision</strong>: we can continue on the normal cycle of judgment
  <a href="https://www.biblegateway.com/passage/?search=Genesis+3%3A10&amp;version=NLT">Genesis 3:10</a>
  or be courageous and take the noble path.</p>
<p>If we follow the normal cycle, we feel
  <strong>ashamed</strong>
  for our actions, our guilt, and our blaming.
  <a href="https://www.biblegateway.com/passage/?search=Proverbs+11%3A2&amp;version=NLT">Proverbs 11:2</a>
</p>
<p>
  We enter into
  <strong>condemnation</strong>
  where we beat ourselves up for our behavior.
  <a href="https://www.biblegateway.com/passage/?search=Proverbs+29%3A23&amp;version=NLT">Proverbs 29:23</a>
</p>
<p>
  We get
  <strong>apathetic</strong>: “Things will never change.”, “I’m not good enough”, “I don’t deserve better”, “Why bother?” and sit
  <strong>helplessly</strong>
  focused our on own discomfort and shortcomings.
</p>
<p>This leads to
  <strong>regret</strong>, where we mull over our actions and choices and what we could have done differently.</p>
<p>We then
  <strong>fear</strong>
  that things won’t change, that we’ll be trapped, and that there is no way out.<p></p>This then leads to a
  <strong>desire</strong>
  to change things again, starting the cycle over.</p>
<p>
  <b>That is the Normal Path.</b>
</p>
