<!-- prayers-armor-of-god.njk -->
<h4>Prayer Against the Victim Spirit</h4>
<p>I am a covenant child of God Most High.</p>
<p>I am not a victim. I walk in identity, legitimacy, dignity, honor, and authority.</p>
<p>I am on kingdom business as I prepare for the best God intended for my marriage, living the life of my Lord Jesus in me, representing the Father's heart and the mind of the Spirit.</p>
<p>I am under God's orders. The enemy is not allowed to hinder me in any way.</p>
<p>I stand on the authority of the full work of the cross, the resurrection, and the ascension of Jesus of Nazareth, who came in the flesh.</p>
<p>I have the favor and presence of the Sovereign God of the universe in my spirit, my soul, and my body, and I live to display his glory.
  <a href="https://www.biblegateway.com/passage/?search=Isaiah+61%3A3&version=NLT">Isaiah 61:3</a>
</p>
<p>God is entirely responsible for me spirit, soul, and body.</p>
<p>In His name, Amen.</p>
<p>
  <em>For surely, O Lord, you bless the righteous; you surround them with your favor as with a shield.
  </em>
  <a href="https://www.biblegateway.com/passage/?search=Psalms+5%3A12&version=NLT">Psalms 5:12</a>
</p>
<p>
  <em>For the LORD God is a sun and shield; the Lord bestows favor and honor.
  </em>
  <a href="https://www.biblegateway.com/passage/?search=Psalms+84%3A11a&version=NLT">Psalms 84:11a</a>
</p>
<img alt="Breaking Free" src="img/prayers/Bondage.jpg" class="w-100">
