<!-- prayers-armor-of-god.njk -->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h4>How to Put on the Full Armor of God:
        <em>Ephesians 6:10-18</em>
      </h4>
      <img src="img/prayers/ArmorOfGod.jpg" alt="Armor Of God" class="col-sm-6 float-right px-0 pl-md-2 pb-2">
      <h5>Because My Mind Needs Renewing Every Day and Because the Devil Tries to Lie to Me About Who I am in Christ</h5>
      <p>&#8220;Today I choose, Lord, to be strong in the Lord and in the strength of Your might. I put on the full armor of God, that I may be able to stand firm against the schemes of the devil. For my fight is not against people, Lord, but it's against
        the rulers, against the powers, against the spiritual forces of wickedness in the heavenly places. Therefore, I take up Your armor that I may be able to resist in the evil day, and having done everything, to stand firm.
      </p>
      <p>
        I stand firm, therefore, having girded my loins with truth. I gird my loins with the truth, Lord, that I'm your son (daughter); that I'm a man (woman) of God, an ambassador for Christ, a minister of reconciliation.
      </p>
      <p>
        I thank You that You love me, that Your hand is upon me, that You never leave me or forsake me. I gird my loins with the truth that I've been crucified with Christ; nevertheless I live, yet not I but Christ who lives within me. And the life that I
        now live I live by faith in the Son of God, who loved me and gave Himself up for me. Lord Jesus, I was buried with you in baptism and raised to walk in newness of life.
      </p>
      <p>
        Therefore I consider myself to be dead to sin
        <em>(name the sins you struggle with)</em>, but alive to God through Christ Jesus. I thank You for Your grace, Your mercy and Your favor that rests upon me. You are for me and not against me; You plan for my success and not my defeat. And I agree
        with You that because You are holy, I am to be holy today. Please fill me with Your Spirit and help me to walk in Your holiness at all times today, in Jesus' name.&#8221;</p>
      <h5>Since the Battle is Also for Our Emotions</h5>
      <p>
        &#8220;I put on the breastplate of righteousness now Lord and I thank You Lord Jesus that You are my breastplate and You are my Righteousness. You have declared me to be righteous in Your sight and worthy before You. You&#8217;ve justified me.
      </p>
      <p>
        Help me to walk now in Your truth and righteousness at all times. Please protect my emotions today. I come against and take authority over...
        <em>(name whatever the enemy attacks you with or whatever tempts you or that you struggle with, i.e. strife, heaviness, oppression, pride, a critical spirit, discouragement, discontentment, lust, fantasy, etc. Do it boldly, recognizing your authority
          as a believer)</em>.&#8221;
      </p>
      <h5>Because the Devil Tries to Steal Our Peace and Joy</h5>
      <p>
        &#8220;Father, I shod my feet with the preparation of the gospel of peace...Thank You that You are my peace and my joy; fill me now with Your Spirit and help me to abide in Your peace, in Your joy, in Your love and in the power of the Holy Spirit, at
        all times, no matter what the difficulties or circumstances.&#8221;
      </p>
      <h5>Because the Devil Tries to Bring Doubt</h5>
      <p>
        &#8220;Father, in addition to all that I take up the shield of faith, with which I will be able to extinguish all the fiery-tipped darts of the evil one, for You are my shield and You are my faith.
      </p>
      <p>
        Thou, O Lord, art a shield about me; You are my glory and the lifter of my head. Help me today to be full of faith and full of the Holy Spirit; help me to walk by faith and not by sight or emotions, in the Spirit and not in the flesh. Help me to
        trust You, to rest joyfully in You; to be settled, surrendered and submitted to You; to be persevering and discerning at all times.&#8221;
      </p>
      <h5>Because the Battle is for the Mind</h5>
      <p>
        &#8220;Father, I put on the helmet of salvation and I ask You to protect my mind and my thoughts; help me to think like You, to act like You and to respond like You at all times, in the name of Jesus. Help my mind to be off limits and impenetrable by
        the devil.&#8221;
      </p>
      <h5>Because of My Need to be Bold in this Battle and to Speak the Word of God Against My Enemies</h5>
      <p>
        &#8220;Father, I take up the sword of the Spirit, which is the word of God, and I ask You to help me to speak Your word with all boldness, authority and power, quickly against the devil, in the name of Jesus.&#8221;
      </p>
      <p>
        <em>Now, clothe yourself with Christ (from Colossians 3):</em>
        &#8220;I clothe myself with humility, with love and compassion, with kindness and gentleness, with patience and self-control, with holiness and purity and with forgiveness. Please help me to walk this way before You and man at all times today, in the
        name of Jesus, amen!&#8221;</p>
      <hr style="width: 100%; height: 2px;">
      <p>
        Pastor Brad Matthew Abley
        <a href="https://pastorbradabley.wordpress.com/">Brad's Blog</a>
      </p>
    </div>
  </div>
</div>
