<!-- collaborating.njk -->
{% set title = 'Collaborating Conversation' %}
{% extends "layout.njk" %}

{% block content %}
  <!-- Adds the header partial -->
  {% include "partials/header.njk" %}
  <!-- Adds the nav macro -->
  {% import 'macros/nav.njk' as nav %}
  {{nav.active('collaborating')}}
  <!--- Content for this page -->
  <div id="page" class="content">
    <h1 class="collaborating-text">
      <i class="fas fa-users"></i>&nbsp; Collaborating Conversation
    </h1>
    <div class="tabs">
      <a href="#" class="tab-but tab-but-1 tab-active">Intro</a>
      <a href="#" class="tab-but tab-but-2">Questions</a>
    </div>
    <div class="tab-content tab-content-1">
      {% include "partials/collaborating-intro.njk" %}
    </div>
    <div class="tab-content tab-content-2">
      {% include "partials/collaborating-questions.njk" %}
    </div>
  </div>
{% endblock %}
