<!-- collaborating.njk -->
{% set title = 'Conciliatory Conversation' %}
{% extends "layout.njk" %}

{% block content %}
  <!-- Adds the header partial -->
  {% include "partials/header.njk" %}
  <!-- Adds the nav macro -->
  {% import 'macros/nav.njk' as nav %}
  {{nav.active('conciliatory')}}
  <!--- Content for this page -->
  <div id="page" class="content">
    <h1 class="conciliatory-text">
      <i class="fa fa-dove conciliatory-button"></i>&nbsp; Conciliatory Conversation
    </h1>
    <div class="tabs">
      <a href="#" class="tab-but tab-but-1 tab-active">Intro</a>
      <a href="#" class="tab-but tab-but-2">Problem</a>
      <a href="#" class="tab-but tab-but-3">Forgiveness</a>
    </div>
    <div class="tab-content tab-content-1">
      {% include "partials/conciliatory-intro.njk" %}
    </div>
    <div class="tab-content tab-content-2">
      {% include "partials/conciliatory-problem.njk" %}
    </div>
    <div class="tab-content tab-content-3">
      {% include "partials/conciliatory-forgiveness.njk" %}
    </div>
  </div>
{% endblock %}
