<!-- index.njk -->
{% set title = 'Conversation Tools' %}
{% extends "layout.njk" %}

{% block content %}

  <div id="preloader">
    <div id="status">
      <p class="center-text">
        Loading the content...
        <em>Loading depends on your connection speed!</em>
      </p>
    </div>
  </div>

  <div class="sticky-deco-top"></div>

  <div class="homepage-section">
    <div class="animate fadeInDownBig homepage-logo" data-wow-duration="1.5s">
      <img class="logo-mobile" src="images/logo.png" alt="logo">
    </div>

    <div class="homepage-navigation">
      <a class="animate fadeIn" data-wow-delay="1.0s" href="noble.html">
        <i class="fas fa-chess-knight"></i>
        <em>Normal to Noble</em>
      </a>
      <a id="courageous" class="animate fadeIn" data-wow-delay="1.05s" href="courageous.html">
        <i class="fas fa-crown courageous-button"></i>
        <em>Courageous</em>
      </a>
      <a class="animate fadeIn" data-wow-duration="1s" data-wow-delay="1.10s" href="comforting.html">
        <i class="fas fa-hand-holding-heart comforting-button"></i>
        <em>Comforting</em>
      </a>
      <a class="animate fadeIn" data-wow-duration="1s" data-wow-delay="1.15s" href="connecting.html">
        <i class="fas fa-plug connecting-button"></i>
        <em>Connecting</em>
      </a>
      <a class="animate fadeIn" data-wow-duration="1s" data-wow-delay="1.20s" href="collaborating.html">
        <i class="fas fa-users collaborating-button"></i>
        <em>Collaborating</em>
      </a>
      <a class="animate fadeIn" data-wow-duration="1s" data-wow-delay="1.25s" href="conciliatory.html">
        <i class="fas fa-dove conciliatory-button"></i>
        <em>Conciliatory</em>
      </a>
      <a class="animate fadeIn" data-wow-duration="1s" data-wow-delay="1.35s" href="prayers.html">
        <i class="fas fa-shield-alt"></i>
        <em>Prayers</em>
      </a>
      <a class="animate fadeIn" data-wow-duration="1s" data-wow-delay="1.40s" href="contact.html">
        <i class="fa fa-envelope"></i>
        <em>Contact</em>
      </a>
    </div>

    {% include 'partials/footer.njk' %}

  </div>

  <div class="white-decoration"></div>
  <div class="body-background"></div>
  <div class="sticky-deco-bottom"></div>

{% endblock %}
