<!-- prayers.njk -->
{% set title = 'Prayers' %}
{% extends "layout.njk" %}

{% block content %}
  <!-- Adds the header partial -->
  {% include "partials/header.njk" %}
  <!-- Adds the nav macro -->
  {% import 'macros/nav.njk' as nav %}
  {{nav.active('prayers')}}
  <!--- Content for this page -->
  <div id="page" class="content">
    <h1>
      <i class="fas fa-shield-alt"></i>&nbsp;
      Prayers
    </h1>
    <div class="tabs">
      <a href="#" class="tab-but tab-but-1 tab-active">Armor</a>
      <a href="#" class="tab-but tab-but-2">Creed</a>
      <a href="#" class="tab-but tab-but-3">Victim</a>
      <a href="#" class="tab-but tab-but-4">St Patrick</a>
    </div>
    <div class="tab-content tab-content-1">
      {% include "partials/prayers-armor-of-god.njk" %}
    </div>
    <div class="tab-content tab-content-2">
      {% include "partials/prayers-warriors-creed.njk" %}
    </div>
    <div class="tab-content tab-content-3">
      {% include "partials/prayers-victim-spirit.njk" %}
    </div>
    <div class="tab-content tab-content-4">
      {% include "partials/prayers-breast-plate.njk" %}
    </div>
  </div>
{% endblock %}
