{% macro build(params) %}
  <!-- params = { icon: 'fas fa-crown', title: 'Courageous Conversation', id: 'courageous' } -->

  <header>
    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav fixed">
      <ul class="custom-scrollbar">
        <!-- Logo -->
        <li>
          <div class="logo-wrapper waves-light waves-effect waves-light">
            <a href="index.html"><img src="img/logo-stacked.png" class="img-fluid flex-center"></a>
          </div>
        </li>
        <!--/. Logo -->
        <!-- Side navigation links -->
        <li {% if params.id == "normal-to-noble" %} class="nav-item-selected" {% endif %}>
          <a href="normal-to-noble.html">Normal To Noble</a>
        </li>
        <li {% if params.id == "which" %} class="nav-item-selected" {% endif %}>
          <a href="which.html">Which Conversation?</a>
        </li>
        <li {% if params.id == "courageous" %} class="nav-item-selected" {% endif %}>
          <a href="courageous.html">Courageous</a>
        </li>
        <li {% if params.id == "comforting" %} class="nav-item-selected" {% endif %}>
          <a href="comforting.html">Comforting</a>
        </li>
        <li {% if params.id == "connecting" %} class="nav-item-selected" {% endif %}>
          <a href="connecting.html">Connecting</a>
        </li>
        <li {% if params.id == "collaborating" %} class="nav-item-selected" {% endif %}>
          <a href="collaborating.html">Collaborating</a>
        </li>
        <li {% if params.id == "conciliatory" %} class="nav-item-selected" {% endif %}>
          <a href="conciliatory.html">Conciliatory</a>
        </li>
        <li {% if params.id == "prayers" %} class="nav-item-selected" {% endif %}>
          <a href="prayers.html">Prayers</a>
        </li>
        <li {% if params.id == "character" %} class="nav-item-selected" {% endif %}>
          <a href="character.html">About Character</a>
        </li>
        <li {% if params.id == "contact-us" %} class="nav-item-selected" {% endif %}>
          <a href="contact-us.html">Contact Us</a>
        </li>
        <!--/. Side navigation links -->
      </ul>
      <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->
    <!-- Navbar -->
    <nav class="navbar navbar-light fixed-top navbar-toggleable-md navbar-expand-lg double-nav">
      <!-- SideNav slide-out button -->
      <div class="float-left">
        <a href="#" data-activates="slide-out" class="button-collapse ml-0 pr-2">
          <i class="fas fa-bars"></i>
        </a>
      </div>
      <!-- Breadcrumb-->
      <div class="ml-2 mr-auto navbar-text navbar-light">
        <i class="{{ params.icon }}"></i>
        &nbsp;
        {{ params.title }}
      </div>
    </nav>
    <!-- /.Navbar -->
  </header>
{% endmacro %}
