{% macro build(quizName, params) %}
<!-- params = [{ type: 'choice', title: 'The title', id: 'section-id', children: ['First Choice', 'Second Choice', ...], show: '#sections, #to, #show', check: '#radios, #to, #check' }, ...] -->
<!-- params = [{ type: 'static', title: 'The title', id: 'section-id', href: 'link/to/other/content.html', img: 'link/to/image.png'}, ...] -->
  <div class="quiztree" id="{{ quizName }}">
    {% for i in range(0, params.length) %}
      {% if params[i].type == 'radio' %}
        <div id="{{ params[i].id }}" {% if i != 0 %}class="quiz-section" style="display: none;"{%endif%}>
          <h5>{{ params[i].title }}</h5>
          {% for j in range(0, params[i].children.length) %}
            <div class="form-check">
              <input type="radio" class="form-check-input quiz-choice" id="{{ params[i].id + '-' + j }}" name="{{ params[i].id }}" onClick="showAndCheckSectionsIn{{quizName}}('{{ params[i].show[j] }}', '{{ params[i].check[j] }}');">
              <label class="form-check-label" for="{{ params[i].id + '-' + j }}">{{ params[i].children[j] }}</label>
            </div>
          {%- endfor %}
        </div>
      {% else %}
        <div id="{{ params[i].id }}" class="quiz-section" style="display: none;">
          <br>
          <h4>{{ params[i].title }}</h4>
          <a type="button" class="btn w-50 {{ params[i].style }} px-3" href="{{ params[i].href }}">
              <i class="{{ params[i].icon }}"></i>
              {{ params[i].label }}
          </a>
        </div>
      {% endif %}
    {% endfor %}
  </div>
  <script>
    /**
     * Shows a specific set of sections, while hiding all others. Checks a specific set of
     * radio buttons, while unchecking all others.
     * @param {string} showSections list of section selectors to show
     * @param {string} checkRadios list of radio button selectors to check
     */
    function showAndCheckSectionsIn{{quizName}}(showSections, checkRadios) {
      let allSections = $('#{{quizName}} .quiz-section');
      allSections.filter(showSections).show();
      allSections.not(showSections).hide();

      let allRadios = $('#{{quizName}} .quiz-choice');
      allRadios.filter(checkRadios).prop('checked', true);
      allRadios.not(checkRadios).prop('checked', false);
    }

  </script>

{% endmacro %}
