{% macro build(params) %}
  <!-- params = { cards: 'comforting-great', titles: [ '1. What can you be grateful for', ...] } -->
  <!-- Nav tabs -->
  <div class="classic-tabs mt-5">

    <ul class="nav tabs-white tabs-text mx-0" role="tablist">
      {% for i in range(0, params.tabs.length) -%}
        <li class="nav-item">
          <a class="nav-link waves-light {% if i == 0 %}active show{% endif %}" data-toggle="tab" href="#{{params.tabfile}}-panel-{{(i + 1)}}" role="tab">
            <i class="{{ params.tabs[i].icon }}"></i>
            <span class="d-none d-md-block">&nbsp;
              {{ params.tabs[i].title | safe }}</span></a>
        </li>
      {%- endfor %}
    </ul>
    <div class="tab-content border-right border-bottom border-left rounded-bottom pt-2">
      {% for i in range(0, params.tabs.length) -%}
        <div class="tab-pane fade in {% if i == 0 %}show active{% endif %}" id="{{params.tabfile}}-panel-{{(i + 1)}}" role="tabpanel">
          {% include "partials/" + params.tabfile + "-tab-" + (i + 1) + ".njk" %}
        </div>
      {%- endfor %}
    </div>
  </div>
{% endmacro %}
