{% macro active(activePage='home') %}
<div class="page-navigation full-bottom">
  <div class="nav-clear"></div>
  <div class="nav-item">
    <a href="index.html" class="{%if activePage == 'home' %} active {% endif %}">
      <i class="fa fa-home"></i>
      Home
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="nav-item">
    <a href="courageous.html" class="{%if activePage == 'courageous' %} active {% endif %}">
      <i class="fa fa-crown"></i>
      Courageous
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="nav-item">
    <a href="comforting.html" class="{%if activePage == 'comforting' %} active {% endif %}">
      <i class="fas fa-hand-holding-heart"></i>
      Comforting
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="nav-item">
    <a href="connecting.html" class="{%if activePage == 'connecting' %} active {% endif %}">
      <i class="fas fa-plug"></i>
      Connecting
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="nav-item">
    <a href="collaborating.html" class="{%if activePage == 'collaborating' %} active {% endif %}">
      <i class="fas fa-users"></i>
      Collaborating
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="nav-item">
    <a href="conciliatory.html" class="{%if activePage == 'conciliatory' %} active {% endif %}">
      <i class="fas fa-dove"></i>
      Conciliatory
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="nav-item">
    <a href="prayers.html" class="{%if activePage == 'prayers' %} active {% endif %}">
      <i class="fas fa-shield-alt"></i>
      Prayers
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="nav-item">
    <a href="contact.html">
      <i class="fa fa-envelope"></i>
      Contact
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
  <div class="nav-item">
    <a href="#" class="close-navigation">
      <i class="fa fa-times"></i>
      Close
      <i class="fa fa-angle-up"></i>
    </a>
  </div>
</div>
<div class="nav-clear"></div>
{% endmacro %}
