<h2 class="comforting-text">The GREAT Response</h2>
<p>
  The following process prescribed by God and often demonstrated throughout scripture, especially by David in the Psalms, will help us move from a distressed mindset into a calm relational mindset. We will have been transformed by the renewing of our
  mind.
  <a href="https://www.biblegateway.com/passage/?search=romans+12%3a1-2&version=nlt">Romans 12:1-2</a>
  <br><img title="G" src="images/comforting/GREAT-G.png" alt="Grateful" width="100%">
  <h3>What could we be <b>GRATEFUL</b> to God for in the midst of this situation?</h3>
  <ul>
    <li>
      Deliberate appreciation is when we offer a sacriﬁce of thanksgiving.
      <a href="https://www.biblegateway.com/passage/?search=psalms+50%3a14-15&version=nlt">Psalms 50:14-15</a>
    </li>
    <li>
      There is a progression by which we come into God's presence and into His throne of grace. We come boldly because of the blood of Jesus that has made us holy and blameless.
      <a href="https://www.biblegateway.com/passage/?search=hebrews+4%3a16&version=nlt">Hebrews 4:16</a>
    </li>
    <li>
      And yet we follow the protocol of heaven. We ﬁrst enter into God's gates with thanksgiving (see Psalm 100).
    </li>
  </ul>
  <img title="R" src="images/comforting/GREAT-R.png" alt="Rejoice" width="100%"><br>
  <h3>What name of the Lord that we can <b>REJOICE</b> in?</h3>
  <ul>
    <li>
      That you know God and he has not forsaken you?
      <a href="https://www.biblegateway.com/passage/?search=psalms+9%3a10&version=nlt">Psalms 9:10</a>
    </li>
    <li>
      That when you order your thoughts and words around Him he promises you salvation?
      <a href="https://www.biblegateway.com/passage/?search=psalms+50%3a23&version=nlt">Psalms 50:23</a>
    </li>
    <li>
      We enter into God's courts with praise.<a href="https://www.biblegateway.com/passage/?search=philippians+4%3a4&version=nlt">Philippians 4:4</a>
    </li>
    <li>What name of the Lord could you rejoice in right now?</li>
  </ul>
  <img title="E" src="images/comforting/GREAT-E.png" alt="Engraft" width="100%"><br>
  <h3>What scripture promises can we <b>Engraft</b> and hold on to at this time?</h3>
  <ul>
    <li>When we receive His word humbly is saves our souls.<a href="https://www.biblegateway.com/passage/?search=james+1%3a21&version=nlt">James 1:21</a>
    </li>
  </ul>
  <img title="A" src="images/comforting/GREAT-A.png" alt="Ask" width="100%"><br>
  <h3>What should we cry out to God and <b>ASK</b> Him for in this situation?</h3>
  <ul>
    <li>Ask in prayer so that you may receive.<a href="https://www.biblegateway.com/passage/?search=matthew+21%3a22&version=nlt">Matthew 21:22</a>
    </li>
    <li>When you cry out the Lord hears you and delivers you.<a href="">Psalms 34:17</a>
      <a href="https://www.biblegateway.com/passage/?search=psalms+107%3a19&version=nlt">Psalms 107:19</a>
      <a href="https://www.biblegateway.com/passage/?search=psalms+107%3a28&version=nlt">Psalms 107:28</a>
    </li>
    <li>Ask what God what you should do.</li>
  </ul>
  <img title="T" src="images/comforting/GREAT-T.png" alt="Triumph" width="100%">
  <h3>How can we <b>TRIUMPH</b> over evil with good?</h3>
  <ul>
    <li>Do not be overcome by evil but overcome evil with good.<a href="https://www.biblegateway.com/passage/?search=romans+12%3a21&version=nlt">Romans 12:21</a>
    </li>
    <li>Do not repay evil for evil but repay evil with blessing so that you may receive a blessing yourself.<a href="https://www.biblegateway.com/passage/?search=peter+3%3a9&version=nlt">1 Peter 3:9</a>
    </li>
  </ul>For advanced comforting training, encourage yourself in the Lord by learning to calm your own soul.<a href="https://www.biblegateway.com/passage/?search=psalms+131%3a2&version=nlt">Psalms 131:2</a>
</p>
