<div>
  <h2 class="conciliatory-text">Four Levels of Forgiveness</h1>
    The four levels of forgiveness are invoked by proceeding backwards through the Four Levels of the Problem. Your notetaking in the previous steps will come in handy here! <br>
    Say <em> "Knowing what I know now..."</em> </li>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">Level 4: Root Cause</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      <ul class="normal-list">
        <li> Say <em>"I can see how my unwillingness to..."</em> and state how you resisted God's grace. </li>
      </ul>    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">Level 2: Surface Causes</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      These are the resulting thoughts, fears, and conclusions, and represent the
      <i>interpreted intent</i>
      of your words or actions.
      <br>
      <ul class="normal-list">
        <li>
          Ask
          <i>"What did my words, actions, attitudes cause you to think?"</i>
          This allows you to understand the lies that the speaker began to believe.
        </li>
        <li>
          Ask
          <i>"What meaning did you give to my words or actions?"</i>
        </li>
        <li>
          Ask
          <i>"The meaning often determines the feeling, what did you feel?"</i>
        </li>
        <li>
          Ask
          <i>"What fears did this produce in you?"</i>
        </li>
        <li>
          Ask
          <i>"What painful memories did this trigger?"</i>
        </li>
        <li>
          Ask
          <i>"What stress did this cause?"</i>
        </li>
        <li>
          Ask
          <i>"What conclusions did you come to?"</i>
        </li>
      </ul>
    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">Level 3: Root Problem</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      Regardless of your intent this is often a failure to demonstrate love or respect and a lack of vital character qualities (see the 49 Character Qualities of Christ).
      <br>
      <ul class="normal-list">
        <li>
          Ask<i>
            "How did I fail to demonstrate love or respect to you?"</i>
        </li>
        <li>
          Ask<i>
            "What character qualities did I fail to demonstrate?"</i>
        </li>
        <li>
          Ask
          <i>"What qualities do you need to see in me?"</i>
        </li>
        <li>
          Ask
          <i>"What does this failure cause you to think or do?"</i>
        </li>
      </ul>
    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">Level 4: Root Cause</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      This root cause is us resisting God&#8217;s grace in our pride and stubbornness.
      <br>
      <ul class="normal-list">
        <li>
          Ask
          <i>"What do you perceive I am unwilling to do?"</i>
        </li>
        <li>
          Ask
          <i>"How did I resist God&#8217;s grace in this situation?"</i>
        </li>
        <li>
          Ask
          <i>"How did I demonstrate pride to you?"</i>
        </li>
        <li>
          Ask
          <i>"How did my stubbornness affect you?"</i>
        </li>
      </ul>
    </div>
  </div>

</div>
