<div>
  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">1. Greeting</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      <p>
        <img style="width: 50%; float:right;" title="Greeting" alt="Greeting" src="images/connecting/ConnectingGreeting.png"/>
        To “salute one another” means to envelope in the arms of your heart. Greetings answer a very big question in the heart of people.
        <i>“Do you delight in me and are you glad to see or be with me?”</i>
        <br>How does a high D, I, S, or C like to be greeted? Consider their characteristics:
      </p>
      <ul class="normal-list">
        <li>
          <b>Dominance</b>: People who score high in the intensity of the "D" styles factor are very active in dealing with problems and challenges, while low "D" scores are people who want to do more research before committing to a decision. High "D" people
          are described as demanding, forceful, egocentric, strong-willed, driving, determined, ambitious, aggressive, and pioneering.</li>
        <li>
          <b>Influence:</b>
          People with high "I" scores influence others through talking and activity and tend to be emotional. They are described as convincing, magnetic, political, enthusiastic, persuasive, warm, demonstrative, trusting, and optimistic.</li>
        <li>
          <b>Steadiness:</b>
          People with high "S" styles scores want a steady pace, security, and do not like sudden change. High "S" individuals are calm, relaxed, patient, possessive, predictable, deliberate, stable, consistent, and tend to be unemotional and poker faced.</li>
        <li>
          <b>Compliance:</b>
          People with high "C" styles adhere to rules, regulations, and structure. They like to do quality work and do it right the first time. High "C" people are careful, cautious, exacting, neat, systematic, diplomatic, accurate, and tactful.</li>
      </ul>
      <p>
        What would make you believe I am glad to see and be with you when we first see each other in the morning or when we get back together at the end of the day or from being away from one another?
      </p>
    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">2. Information or Facts</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      <p>
        <img style="width: 50%; float:right;" title="Information" alt="Information" src="images/connecting/ConnectingInformation.png"/>
        Asking these questions tend to reveal rudimentary personal information but is one level lower than just greetings.</p>
      <ul class="normal-list">
        <li>Weather</li>
        <li>Basic information (height, weight, siblings, parents, other relatives)</li>
        <li>What did you do today?</li>
        <li>What did you learn?</li>
        <li>What is your favorite meal? What is your favorite way to spend an evening?</li>
        <li>What is your favorite color?</li>
        <li>Where were you born?</li>
        <li>When were you born?</li>
        <li>Who is your best friend?</li>
        <li>What qualities do you admire in your friend?</li>
        <li>What attracted you to this friend?</li>
        <li>Does this friendship tend to build you up or pull you down?</li>
        <li>What books have in&#64258;uenced you the most?</li>
        <li>Have you ever thought about writing a book?</li>
        <li>What would you write a book about?</li>
        <li>Who is your favorite relative?</li>
        <li>What do you enjoy doing most in your free time?
          <ul class="normal-list">
            <li>Sports</li>
            <li>Reading</li>
            <li>Projects</li>
            <li>Hobbies</li>
          </ul>
       </li>
        <li>What is your favorite type of music or song, or instrument?</li>
        <li>What is your favorite holiday?</li>
        <li>What is your favorite kind of reading?</li>
        <li>Who is your favorite author, poet?</li>
      </ul>
    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">3. Ideas and Opinions</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      <ul class="normal-list">
        <img style="width: 50%; float:right;" title="Ideas" alt="Ideas" src="images/connecting/ConnectingIdeas.png"/>
        <li>Personal Preferences
          <ul>
            <li>What are your preferences concerning....?</li>
            <li>What do you think about...?</li>
          </ul>
       </li>
        <li>Relationships and Possible Vulnerable Vacuums
          <ul>
            <li>Who have you received the most love from in your life?</li>
            <li>Who has been like an iron-sharpening-iron person in your life?</li>
            <li>Who have you enjoyed giving to and sacri&#64257;cing for in your life?</li>
          </ul>
       </li>
        <li>Home Life
          <ul>
            <li>What things discouraged you in your family?</li>
            <li>Clutter in the house</li>
            <li>Con&#64258;icts</li>
            <li>Tension between parents</li>
            <li>Daily schedule or lack of one</li>
            <li>Un&#64257;nished house repairs</li>
            <li>Doing chores</li>
            <li>Rules and restrictions</li>
            <li>What was the most discouraging thing in your family home?</li>
          </ul>
       </li>
        <li>What person do you respect or admire the most?
          <ul>
            <li>What do you respect about them?</li>
          </ul>
       </li>
        <li>What do you want others to respect about you?</li>
        <li>Who is your least favorite person that we both know?
          <ul>
            <li>What is it about them that is least favorite?</li>
          </ul>
       </li>
        <li>What character qualities would make you feel most loved?</li>
        <li>How would you describe your relationship with God?</li>
        <li>Where and when were you born again?</li>
        <li>Do you have doubts about salvation?</li>
        <li>What are your favorite types of presents?</li>
        <li>What is one of your favorite childhood memories?</li>
        <li>What is one of your favorite vacation memories?</li>
        <li>What is your favorite get-away place?</li>
        <li>What is your favorite movie?</li>
        <li>What is your favorite &#64258;ower?</li>
        <li>What foods do you hate?</li>
        <li>What is your favorite animal?</li>
        <li>What is your favorite season?</li>
        <li>What is your favorite bird, &#64258;ower, tree, etc?</li>
      </ul>
    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">4. Aspirations (Hopes and Dreams)</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      <ul class="normal-list">
        <img style="width: 50%; float:right;" title="Aspirations" alt="Aspirations" src="images/connecting/ConnectingAspirations.png"/>
        <li>What do you want to do in your life?</li>
        <li>Who do you want to be like?
          <ul>
            <li>As a person?</li>
            <li>As a partner?</li>
            <li>As a parent?</li>
            <li>As a provider?</li>
            <li>As a proclaimer?</li>
          </ul>
       </li>
        <li>What do you think is God&#8217;s will for your life?</li>
        <li>What skills do you want to develop?</li>
        <li>Who do you want to help?</li>
        <li>What is your fondest dream, as yet unachieved?</li>
        <li>What do you like to do with your time-off?</li>
        <li>What is your secret ambition?</li>
        <li>What are your dreams of being loved? How do you want to be loved?</li>
        <li>What are your dreams about being respected? How do you want to be respected?</li>
        <li>What you are waiting for is what you are living for, so what are you waiting for in your life?</li>
        <li>What would a romantic night out look like?</li>
        <li>What area of study would you like to become an expert in?</li>
        <li>What would you like to be famous for?</li>
        <li>What would you like written on your tombstone? In your obituary?</li>
        <li>Who would you like to be mentored by one day?</li>
        <li>What qualities do you want to develop in your life?</li>
        <li>What do you dream about being the best in the world at doing?</li>
        <li>What would you do if you knew you could not fail and God would be with you?</li>
        <li>What you are waiting for is what you are living for!
          <ul>
            <li>What are you waiting and living for as a person?</li>
            <li>What are you waiting and living for as a partner?</li>
            <li>What are you waiting and living for as a parent?What are you waiting and living for as a provider?</li>
            <li>What are you waiting and living for as a proclaimer?</li>
          </ul>
       </li>
      </ul>
    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">5. Feelings</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      <ul class="normal-list">
        <img style="width: 50%; float:right;" title="Feelings" alt="Feelings" src="images/connecting/ConnectingFeelings.png"/>
        <li>What makes you feel most competent?</li>
        <li>How do you feel about yourself?</li>
        <li>When have you felt the most special to others?</li>
        <li>How secure do you feel in your life right now?</li>
        <li>How signi&#64257;cant do you feel right now?</li>
        <li>Do you feel like you belong?</li>
        <li>What hurts have you experienced from people?
          <ul>
            <li>Friends</li>
            <li>Neighbors or classmates</li>
            <li>Brothers or sisters</li>
            <li>Parents</li>
            <li>Teachers</li>
            <li>Relatives</li>
          </ul>
       </li>
        <li>What makes you feel unloveable? Don&#8217;t deserve love?</li>
        <li>What makes you feel like it is always your fault?</li>
        <li>What makes you feel like you don&#8217;t measure up?</li>
        <li>What are some painful memories you have?</li>
        <li>What causes you stress? (Anger, Guilt, Lust, Bitterness, Greed, Fear, Envy)</li>
        <li>Are their feelings in yourself you can&#8217;t understand or don&#8217;t know how to articulate?</li>
        <li>What is your favorite way of being soothed?&nbsp; What helps you return to joy?</li>
        <li>What are some of the events coming up in your life and how do you feel about them?</li>
        <li>What are you currently sad about?</li>
        <li>What are you currently glad about?</li>
        <li>What are you currently mad about?</li>
        <li>What is one of your major concerns or worries?</li>
        <li>Identify your current feelings from a list of adjectives that describe emotions. See the emotion word list in the
          <a href="courageous.html">Courageous Conversation</a>
          section.</li>
      </ul>
    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">6. Secrets (Fears, Failures, and Weaknesses)</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      <ul class="normal-list">
        <img style="width: 50%; float:right;" title="Secrets" alt="Secrets" src="images/connecting/ConnectingSecrets.png"/>
        <li>What fears do you experience?
          <ul>
            <li>Rejection or abandonment</li>
            <li>Failure</li>
            <li>Future events</li>
            <li>Losing the control to make my own choices or control my own time</li>
            <li>Change</li>
            <li>Criticism of my work</li>
            <li>Past failures being discovered</li>
            <li>Loneliness</li>
            <li>Loss</li>
            <li>Death</li>
            <li>Money and security</li>
          </ul>
       </li>
        <li>Knowing what you know now, what are some things in your past you would like to change?
          <ul>
            <li>Bad experiences?</li>
            <li>Lost opportunities?</li>
            <li>Physical features?</li>
          </ul>
       </li>
        <li>Is there anything you would be afraid to talk to me about?
          <ul>
            <li>Anything you think might make me angry?</li>
            <li>Something you are afraid I think would be silly?</li>
            <li>Thoughts you are having?</li>
            <li>Desires about God?</li>
          </ul>
       </li>
        <li>When was a time in your life when you had enemies?</li>
        <li>What was your most embarrassing moment?</li>
        <li>What is your worst childhood experience?</li>
        <li>What frustrates you the most?</li>
        <li>What is the primary vulnerable feeling under the secondary emotion of frustration or anger?</li>
      </ul>
      <a href="https://www.biblegateway.com/passage/?search=Psalms+19%3A12&version=NLT">Psalms 19:12</a>
    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">7. Needs</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      <ul class="normal-list">
        <img style="width: 50%; float:right;" title="Needs" alt="Needs" src="images/connecting/ConnectingNeeds.png"/>
        <li>If you could talk to God face to face, what would you ask?</li>
        <li>What personal improvement do you want to make in your life?</li>
        <li>What medical problems are you concerned about?</li>
        <li>Does God delight in me?</li>
        <li>What do you need to thrive spiritually?</li>
        <li>Do you delight in me? Can I delight in who God made me to be?</li>
        <li>What do you need to thrive in your relationships?</li>
        <li>Can I delight in knowing and doing God&#8217;s will?</li>
        <li>Wife - What do you need to thrive as a good lover of a husband, children, keeper of the home and teacher of good things?</li>
        <li>Can I delight others with my God-given gifts, talents, and signature strengths?</li>
      </ul>
    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">8. Insights</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      <ul class="normal-list">
        <img style="width: 50%; float:right;" title="Insights" alt="Insights" src="images/connecting/ConnectingInsights.png"/>
        <li>What have you been reading in God’s Word lately?</li>
        <li>What is God speaking to you through His Word?</li>
        <li>What are the prophecies concerning you, which you have received?</li>
        <li>Have you received a Word of wisdom or understanding from someone?</li>
        <li>What Godly counsel have you received?</li>
        <li>Are you seeing God’s hand at work right now?</li>
        <li>What rhemas (God’s written Word spoken to your heart) has God give you?</li>
      </ul>
      <a href="https://www.biblegateway.com/passage/?search=Psalm+19%3A7-8&version=NLT">Psalms 19:7-8</a>
      <a href="https://www.biblegateway.com/passage/?search=Psalm+19%3A14&version=NLT">Psalms 19:14</a>
    </div>
  </div>

  <div class="toggle-1">
    <a href="#" class="deploy-toggle-1 exclusive">9. Prayer</a>
    <div class="toggle-content" style="overflow: hidden; display: hidden;">
      <ul class="normal-list">
        <ul>
          <img style="width: 50%; float:right;" title="Prayer" alt="Prayer" src="images/connecting/ConnectingPrayer.png"/>
          <li>Has God ever worked supernaturally in your life?</li>
          <li>Has He answered any significant prayer?</li>
          <li>Has he ever spared your life from accident or danger?</li>
          <li>Has He ever provided money or things in answer to prayer?</li>
          <li>Has God ever not answered an important prayer?</li>
        </ul>
        <h2>Secrets to praying back to God all the truth He has revealed to you </h2>
        If you fail to pray things back to God you will face the responsibility of truth on your own and experience one of the following consequences: <br>
        <ol class="number-list">
          <li>Feel condemned by it and your heart will be hardened.</li>
          <li>Try to do it in the power of the ﬂesh and give up quickly. <a href="https://www.biblegateway.com/passage/?search=Romans+7%3A15&version=NLT">Romans 7:15</a></li>
          <li>Mentally assent to it and become a hearer's of the Word but not a doer of the Word thereby deceiving yourself. <a href="https://www.biblegateway.com/passage/?search=James+1%3A23-25&version=NLT">James 1:23-25</a> <a href="https://www.biblegateway.com/passage/?search=James+1%3A25&version=NLT">James 1:25</a></li>
        </ol>
        <h2 class="green">When you pray things back to God you are:</h2>
        <ol>
          <li>Praying back to Him what He has shown you and acknowledging your need for Him to live through you. <a href="https://www.biblegateway.com/passage/?search=Psalms+55%3A22&version=NLT">Psalms 55:22</a> <a href="https://www.biblegateway.com/passage/?search=Psalms+57%3A2&version=NLT">Psalms 57:2</a></li>
          <li>You are trusting God to complete that which He has begun in you. <a href="https://www.biblegateway.com/passage/?search=Philippians+1%3A6&version=NLT">Philippians 1:6</a></li>
          <li>Recognizing our responsibility is to believe and speak with faith. <a href="https://www.biblegateway.com/passage/?search=John+6%3A29&version=NLT">John 6:29</a> <a href="https://www.biblegateway.com/passage/?search=Romans+4%3A7&version=NLT">Romans 4:17</a> <a href="https://www.biblegateway.com/passage/?search=Luke+1%3A38&version=NLT">Luke 1:38</a>
            <a href="https://www.biblegateway.com/passage/?search=Romans+10%3A8&version=NLT">Romans 10:8</a></li>
          <li>You are accepting the reality that apart from God you can do nothing.
            <a href="https://www.biblegateway.com/passage/?search=John+15%3A5&version=NLT">John 15:5</a></li>
          <li>You are accepting the fact that your power comes from containing <b>Someone</b> as a vessel versus trusting in ourselves and performing to become somebody in the power of the ﬂesh. <a href="https://www.biblegateway.com/passage/?search=2+Corinthians+4%3A7&version=NLT">2 Corinthians 4:7</a> <a href="https://www.biblegateway.com/passage/?search=Acts+17%3A28&version=NLT">Acts 17:28</a>
            <a href="https://www.biblegateway.com/passage/?search=Jeremiah+9%3A23-24&version=NLT">Jeremiah 9:23-24</a></li>
          <li>You are changing your mind to agree with God. Repenting and turning away from your own way to follow God.</li>
        </ol>
      </ul>
    </div>
  </div>


</div>
