<!-- courageous-agreements.njk -->
<h1 class="red">Listener</h1>
<p> I agree to hear you until you are satisfied that I have considered your trouble and known your soul in adversity. </p>
<p> I agree to&#8230; </p>
<ul>
  <li> Listen from your perspective </li>
  <li> Show respect by staying in the conversation </li>
  <li> Not complain, explain, or blame </li>
  <li> Restate the meaning of the message to your satisfaction </li>
  <li> Gain wisdom and develop understanding to establish a relationship of trust, and to use the knowledge to resolve our issues for good, not for evil </li>
</ul>
I agree to seek God&#8217;s will for our lives and our relationship.
<br>
<h1 class="red">Speaker</h1>
<p> I agree to&#8230; </p>
<ul>
  <li> Speak the truth in love </li>
  <li> Provide a safe environment for listening </li>
  <li> State the facts I am basing my feeling on instead of making my feelings the facts </li>
  <li> Allow you, the listener, to summarize the meaning of my statements </li>
  <li> Be willing to clarify my statements until you have understood the message to my satisfaction </li>
</ul>
I agree to seek God&#8217;s will for our lives and our relationship.
