<!-- courageous-intro.njk -->
<div>
    <img src="images/courageous/Courageous.png" style="width:30%; float:right;"; alt="Come Call Comfort Connect Be Noble Pursue Overtake Recover All Intimacy">
  <p>
    A Courageous Conversation is one of the first essential conversations in the Relate 20/20
    <i>Joyous Living</i>
    framework that requires you to blend two key elements of mercy and truth in order to resolve pressing issues and at the same time develop greater levels of trust in our relationships.
  </p>
  <p>
    <a class="btn btn-outline-primary btn-sm" href="https://www.biblegateway.com/passage/?search=Proverbs+16%3A6&version=NLT">Proverbs 16:6</a>
    states "By mercy and truth iniquity is purged: and by the fear of the LORD men depart from evil." The iniquities of self-will, and our pride is what causes so much of the tension in our relationships. Our pride reveals itself in our conversations
    when we say to ourselves,
    <i>&#8220;We will have had a good conversation when you listen to me and agree that I&#8217;m right.&#8221;</i>
  </p>
  <p>This form of conversation does not include God&#8217;s mercy and truth which sets us free, but it focuses on our own rights and expectations which cause wars among us as James 4 points out so clearly.
  </p>
  <p>
    If, instead, you use the Courageous Conversation where you will be more interested in seeking to give mercy and truth rather than being right, you will see truly miraculous reconciliation take place. God has said
    <i>&#8220;And having made peace through the blood of His cross, by Him to reconcile all things unto Himself; by Him, I say, whether they be things in earth, or things in heaven.&#8221;</i>
  </p>
  <p>God has already done His part, the question is will you receive the grace He has already provided by humbling yourself and allowing your iniquities to be purged by His mercy and truth. When your sins are pointed out and you humble yourself and
    confess them, God cleanses us.
  </p>
  <p>
    In this process, you may become so free that you have a fresh fear of God come upon you as you see His power made manifest in your lives and relationships. You will depart from further evil so you can experience a greater level of intimacy and
    freedom in Christ.
  </p>
  <p>
    The three goals of a courageous conversation are:
    <ul>
      <li>
        <b>Wisdom to see from a bigger perspective.</b>
        When we see as God sees we will want to do as God does. The counsel of others will broaden our perspective. God can even use a donkey to help us see our blind spots. He will test our humility by sending us the most unlikely messengers.
      </li>
      <li>
        <b>Understanding that will establish trust in the relationship.</b>
        When we see from another&#8217;s perspective we begin to understand why they do what they do. When you seek to understand a person, it doesn&#8217;t mean you have to agree with them. When you provide them a safe environment of mercy, it will allow
        them to see their own false beliefs and begin to question their perspective if it is based on lies. A man convinced against his own will is of the same opinion still. Our goal is to look with another person at their own thoughts and beliefs so they
        consider the trustworthiness of their perspective.
      </li>
      <li>
        <b>Knowledge so we can take the next step.</b>
        When people gain wisdom and understanding by allowing the beatitudes of Christ to control their spirit, soul and body, then God will grant them the knowledge of His will to resolve any issue.
      </li>
    </ul>
  </p>
</div>
