<!-- courageous-emotions.njk -->
<h1>Emotional Pain Words</h1>
<div class="one-half">
  <p>
    <b>Stressed</b>: Distressed, Puzzled, Annoyed, Amazed, Troubled, Miffed, In a Fog, Distant, Offended, Hurt, Inner Turmoil, Distracted, Stifled, Cornered, Unheard, Overwhelmed, Questioned, Agitated, Apprehensive, Desperate.
    <br>
    <br>
    <b>Alone</b>: Left, Bereft, Destitute, Unprotected, Shut Up, Left to Fend for Myself, Misplaced, Displaced, Unclaimed, Left Out, Unsheltered, Exposed, Forsaken, Helpless.
    <br>
    <br>
    <b>Undervalued</b>: Unwanted, Undesirable, Unlovable, Unworthy of Pursuit, Unpleasing, Unlovely, Unattractive, Inadequate, Untapped, Unneeded, Not Cherished, Criticized, Trivial, Loathsome, Inferior.
    <br>
    <br>
    <b>Mistreated</b>: Berated, Walked On, Run Over , Trampled, Pressured, Violated, Defiled, Spoiled, Desecrated, Degraded, Scattered, Shattered, Battered, Curtailed, Limited, Used, Oppressed, Ridiculed, Persecuted, Taunted, Hated, Despised, Crushed.
    <br>
    <br>
    <b>Needy</b>: Waiting, Longing, Wilting, Vulnerable, Timid, Fearful, Impatient, Emotional, Possessive, Jealous.
    <br>
    <br>
    <b>Distrust</b>: Leery, Wary, Distant, Resistant, Put Out, Angry, Perturbed, Aggravated, Turned Off, Unloving, Cold, Hopeless, Hardened, Bitter.
    <br>
    <br>
    <b>Heavy</b>: Saddled, Burdened, Weary, Frail.
  </p>
</div>
<div class="one-half last-column">
  <p>
    <b>Dishonored</b>: Put Down, Picked On, Patronized, Degraded, Despised, Rebuffed, Held in Contempt, Belittled, Disrespected, Not Appreciated, Not Considered, Unheard, Reprimanded.
    <br>
    <br>
    <b>Inadequate</b>: Powerless, Inferior, Weak, Inconsequential, Unimportant, Impotent, Insufficient, Ignored, Like a Failure, Devalued, Can Never Please, Undesirable, Unloved, Marginalized, Excluded, Troublesome, Avoided, Useless, Incapable,
    Unsatisfactory, Insignificant.
    <br>
    <br>
    <b>Sad</b>: Turmoil, Grief/Grieved, Upset, Discouraged, Disconnected, Despair, Shut Down, Unforgiven, Burdened, Hopeless, Confused, Devastated, Lost.
    <br>
    <br>
    <b>Angry</b>: Disgusted, Concerned, Dissatisfied, Displeased, Frustrated, Rebellious, Enraged, Reactive, Resistant, Resentful, Out of Control.
    <br>
    <br>
    <b>Accused</b>: Attacked, Misunderstood, Discredited, Defamed, Judged, Shamed, Guilty, Beat Up, Vilified, Crucified.
    <br>
    <br>
    <b>Unsafe</b>: Uncomfortable, Threatened, Insecure, Unsure, Scared, Freaked Out, Panicked, On Edge, Unprotected, Defensive, Agitated, Embarrassed, Provoked, Tense, Controlled, Dominated.
    <br>
    <br>
    <b>Rejected</b>: Unacceptable, Disconnected, Abandoned, Deserted, Bereft, Neglected, Repulsive, Betrayed, Hated, Loathed, Cut Off, Out of the Loop, Shut Out, Alone, On My Own.
    <br>
    <br>
    <b>Demoralized</b>: Closed Off, Withdrawn, Isolated, Disinterested, Apathetic, Disloyal, Uncooperative.
    <br>
    <br>
    <b>Restricted</b>: Manipulated, Denied, Curtailed, Confined, Unfulfilled, Imprisoned.
  </p>
</div>
