<!-- footer.njk -->
<div class="footer">
  <a href="https://www.facebook.com/relate2020" class="facebook-footer animate fadeIn" data-wow-delay="1.35s">
    <i class="fab fa-facebook"></i>
  </a>
  <a href="https://www.instagram.com/relate2020/" class="instagram-footer animate fadeIn" data-wow-delay="1.40s">
    <i class="fab fa-instagram"></i>
  </a>
  <a href="https://www.twitter.com/relate2020" class="twitter-footer animate fadeIn" data-wow-delay="1.45s">
    <i class="fab fa-twitter"></i>
  </a>
  <em class="animate fadeInUpBig">Copyright 2018, Relate 20/20.
    <br>
    All rights reserved</em>
</div>
