.courageous-button {
  background-color: #9E0B2C;
}

.normal-to-noble-button {
  background-color: #F6682F;
}

.comforting-button {
  background-color: #195BE7;
}

.connecting-button {
  background-color: #1B881F;
}

.collaborating-button {
  background-color: #805A33;
}

.conciliatory-button {
  background-color: #31A3DD;
}

.prayers-button {
  background-color: #A836F7;
}

.character-button {
  background-color: #A6C037;
}

.contact-us-button {
  background-color: #5961A8;
}

.bg-relate-purple {
  background: #5961A8 !important;
}

.bg-relate-red {
  background: #9C000D;
}

.flex-item {
  margin: 0;
  padding: 1.5em 1em 1em;
  width: 33.3%;
  height: 10em;
  line-height: 1.25em;
  font-size: 0.8em;
  text-align: center;
  border: thin solid white;
  color: white !important;
}

.nav {
  flex-wrap: nowrap;
}

.navbar {
  background-color: rgba(255, 255, 255, 0.5) !important;
}

.side-nav ul li.nav-item-selected {
  background-color: #1D83FB;
}

.side-nav ul li.nav-item-selected a {
  color: white;
}


.classic-tabs ul.tabs-white li.nav-item a.nav-link {
  font-weight: 500;
  border-right: 1px solid #F8F8F8 !important;
  border-left: 1px solid #F8F8F8 !important;
  color: #7B83CA;
}

.classic-tabs ul.tabs-white li.nav-item a.nav-link.active {
  color: #6A72B9;
  border-bottom: 2px solid #6A72B9 !important;
}

.classic-tabs .nav li:first-child {
    margin-left: 0px;
}

.fixed-sn main {
  margin-left: 0px;
  margin-right: 0px;
}

// On tablets and phones that are in landscape mode and have the space,
// We make the sidenav fixed
@media only screen and (min-width: 768px) and (orientation: landscape) {

  .side-nav.fixed {
    -webkit-transform: translateX(0px);
    -ms-transform: translateX(0px);
    transform: translateX(0px) !important;
  }

  .fixed-sn nav {
    margin-left: 15rem;
  }

  .fixed-sn nav .button-collapse {
    display: none;
  }

  .fixed-sn main {
    margin-left: 15rem;
    margin-right: 0px;
  }
}
