.grid-container {
  margin: 0px;
  padding: 1%;
  display: flex;
  height: 100%;
}

.courageous-button {
  background-color: #9E0B2C;
}

.normal-to-noble-button {
  background-color: #F6682F;
}

.comforting-button {
  background-color: #195BE7;
}

.connecting-button {
  background-color: #1B881F;
}

.collaborating-button {
  background-color: #805A33;
}

.conciliatory-button {
  background-color: #31A3DD;
}

.prayers-button {
  background-color: #A836F7;
}

.contact-us-button {
  background-color: #A6C037;
}


.bg-relate-purple {
  background: #5961A8 !important;
}

.bg-relate-red {
  background: #9C000D;
}

.flex-item {
  margin: 0px;
  padding: 1.5em 1em 1em 1em;
  width: 33.3%;
  height: 10em;
  line-height: 1.25em;
  font-size: 0.8em;
  text-align: center;
  border: thin solid white;
  color: white !important;
}

.nav {
  flex-wrap: nowrap;
}

@media (min-width: 62rem) {
  .classic-tabs {
    overflow-x: auto;
  }
}

.classic-tabs ul.tabs-white li.nav-item a.nav-link {
  color: #5961A8;
  font-weight: 500;
  border-right: 1px solid #F8F8F8 !important;
}

.classic-tabs ul.tabs-white li.nav-item a.nav-link.active {
  color: #6A72B9;
  border-bottom: 2px solid #6A72B9 !important;
}
